/*.panel-success {

  border-color: $color_green;

  >.panel-heading{

    background: $color_green;
    border-color: $color_green;

  }

}*/
/*.form-control:focus, .daterangepicker .ranges .input-mini,
.select2-container--bootstrap.select2-container--focus .select2-selection, .select2-container--bootstrap.select2-container--open .select2-selection {
  border-color: $color_green !important;
  box-shadow: $color_green_shadow;
}*/
body, #content-container, #navbar {
  background-color: #f2f2f2; }

#wait {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(11, 53, 53, 0.5);
  z-index: 999;
  text-align: center;
  display: none; }
  #wait img {
    width: 80px;
    top: 50%;
    position: absolute; }

.brand-icon {
  width: initial;
  height: initial;
  margin-left: 6px;
  margin-top: 10px; }

.navbar-custom {
  background-color: #0b3535;
  border-color: #0b3535;
  border-radius: 0; }

.navbar-custom .navbar-nav > li > a {
  color: #fff; }

#mainnav {
  background-color: #ffffff;
  color: #333;
  text-transform: uppercase;
  font-weight: bold;
  -webkit-box-shadow: 0px 8px 10px -5px rgba(0, 0, 0, 0.2), 0px 16px 24px 2px rgba(0, 0, 0, 0.14), 0px 6px 30px 5px rgba(0, 0, 0, 0.12);
  box-shadow: 0px 8px 10px -5px rgba(0, 0, 0, 0.2), 0px 16px 24px 2px rgba(0, 0, 0, 0.14), 0px 6px 30px 5px rgba(0, 0, 0, 0.12); }

#mainnav .list-header {
  color: #999; }

#mainnav-menu > .active {
  background-color: #f2f2f2; }

#mainnav-menu > .active .active {
  background-color: #999; }

#mainnav-menu .active:not(.active-sub) > a {
  color: #333333;
  font-weight: bold;
  background: #e2e2e2; }

#mainnav-menu > li > a.hover {
  color: #ccc;
  background-color: #0b3535; }

#mainnav-menu > li > a:hover, #mainnav-menu > li > a:active {
  background: #f5f5f5; }

#mainnav-menu > .active-sub > a, #mainnav-menu > .active-sub > a:hover {
  color: #fff;
  background-color: #0f5650; }

#mainnav-menu ul a:hover, .menu-popover .sub-menu ul a:hover, #mainnav-menu ul ul a:hover, .menu-popover .sub-menu ul ul a:hover, #mainnav-menu ul .active-link a, .menu-popover .sub-menu ul .active-link a {
  color: #333333;
  background: #E2E2E2; }

#container.mainnav-sm #mainnav-menu > .active-link > a, #container.mainnav-sm #mainnav-menu > .active-sub > a, #container.mainnav-sm #mainnav-menu > .active-link a:hover, #container.mainnav-sm #mainnav-menu > .active-sub a:hover {
  background-color: #0f5650; }

#mainnav-menu i {
  font-size: 2em; }

#mainnav li .arrow {
  line-height: 1.15;
  font-size: 15px; }

.navbar-content {
  background-color: #0b3535; }

.navbar-top-links > .open > a, .navbar-top-links > .open > a:focus {
  background-color: #0b3535 !important;
  color: #b5b5b5; }

#navbar {
  -webkit-box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12); }

/*.navbar-top-links .tgl-menu-btn > a, .navbar-top-links .tgl-menu-btn > a:hover, .navbar-top-links .tgl-menu-btn > a:focus {
  color: #0b3535;
}

.navbar-top-links > li > a {
  color: #0b3535;
}

.navbar-top-links > li > a:hover,
.navbar-top-links .tgl-menu-btn > a:hover{
  color: #eee;
}

.navbar-top-links > .open > a, .navbar-top-links > .open > a:focus {
  background-color: #092929 !important;
  color: #ddd;
}*/
.btn-primary:hover, .btn-primary:active, .btn-primary.active, .btn-primary:disabled, .btn-primary.disabled, .btn-primary:not([class*="btn-active-"]) + .dropdown-menu > li > a:hover, .btn-primary:not([class*="btn-active-"]) + .dropdown-menu > li > a:focus, .btn-primary:not([class*="btn-active-"]) + .dropdown-menu > .active > a, .btn-primary + .dropdown-menu:not(.head-list) > li > a.active, .open > .dropdown-toggle.btn-primary, .btn-hover-primary:hover, .btn-hover-primary:active, .btn-hover-primary.active, .btn-active-primary.btn:active, .btn-active-primary.btn.active, .btn-active-primary + .dropdown-menu > li > a:hover, .btn-active-primary + .dropdown-menu > li > a:focus, .btn-active-primary + .dropdown-menu > .active > a, .open .dropdown-toggle.btn.btn-active-primary, .btn-group.open .dropdown-toggle.btn.btn-active-primary {
  background-color: #092929 !important;
  border-color: #092929 !important;
  color: #fff !important; }

.img-user {
  width: 40px;
  height: 40px;
  position: inherit;
  top: inherit;
  -webkit-transform: inherit;
  transform: inherit; }

.username {
  line-height: 40px; }

#page-title {
  padding: 0 20px; }

.btn,
label,
#page-title,
.panel-control .nav-tabs > li > a {
  text-transform: uppercase; }

label,
.panel-control .nav-tabs > li > a {
  font-weight: bold; }

.panel, .tab-base .tab-content {
  -webkit-box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12) !important;
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12) !important; }

.panel-heading {
  background: #f6f8fa;
  border-bottom: 1px solid #e1eceb; }

#container .table th {
  color: #0b3535;
  text-transform: uppercase; }

.dt-panelmenu, .dt-panelfooter {
  padding: 15px; }

.dt-panelmenu {
  border-bottom: 1px solid #f0f0f0; }

.dt-panelfooter {
  border-top: 1px solid #f0f0f0; }

table.dataTable {
  margin-bottom: 0 !important; }

.panel-footer {
  background-color: #eee; }

.nav-tabs li a {
  text-transform: uppercase; }

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
  color: #0f5650;
  font-weight: bold; }

.tab-base .tab-content {
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  padding: 25px 15px 15px 15px; }

.tab-base .nav-tabs > li:not(.active) > a {
  border-bottom: transparent; }

.tab-base .tab-content .tab-footer {
  border-radius: 3px;
  border-top: 1px solid #f0f0f0;
  background-color: #ffffff; }

legend {
  padding: 0;
  color: #999; }

.bord-btm-primary {
  border-bottom: 1px solid #0b3535; }

.form-control {
  height: 34px;
  font-size: 14px;
  border-radius: 3px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  border: 1px solid #ccc;
  transition-duration: .5s; }

.input-lg {
  font-size: 17px;
  height: 46px; }

.form-control:focus, .daterangepicker .ranges .input-mini, .select2-container--bootstrap.select2-container--focus .select2-selection, .select2-container--bootstrap.select2-container--open .select2-selection {
  border-color: #0b3535 !important;
  box-shadow: 0 0 0 0.2rem rgba(15, 86, 80, 0.5); }

.footer-fixed {
  position: fixed;
  width: 100%;
  z-index: 5;
  bottom: 0;
  left: 0; }

.label-table {
  max-width: 180px; }

@media (min-width: 768px) {
  #container.mainnav-sm .brand-icon {
    width: initial;
    height: initial; }

  .menu-popover > .popover-title {
    background-color: #0b3535;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 18px;
    border-radius: 0 4px 0 0px !important; }

  .menu-popover .sub-menu ul {
    background-color: #e1eceb; }

  .menu-popover .single-content {
    color: #0b3535;
    background-color: #ffffff;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 18px; }

  .menu-popover .sub-menu ul li > a {
    color: #0b3535;
    text-transform: uppercase; } }

/*# sourceMappingURL=app.css.map */
