/* FONT COLOR - MAIN COLOR */
/*======================================*/
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
#page-title {
  color: #0f5650;
}
/* FONT COLOR - BODY COLOR */
/*======================================*/
body,
#content-container {
  color: #0b3535;
}
/* BACKGROUND COLOR - STATE ACTIVE  */
/*======================================*/
.searchbox .custom-search-form .input-group-btn:before,
.pace .pace-activity {
  background-color: #0B3535;
}
/* BACKGROUND COLOR - BODY BACKGROUND */
/*======================================*/
body,
#content-container,
#navbar {
  background-color: #e1eceb;
}
/* TEXT SELECTION */
/*======================================*/
::selection {
  background-color: #0B3535;
  color: #fff;
}
::-moz-selection {
  background-color: #0B3535;
  color: #fff;
}
/* INPUT PLACEHOLDER */
/*======================================*/
::placeholder {
  color: #cdd2d4 !important;
  opacity: 1;
}
::-webkit-input-placeholder {
  color: #cdd2d4 !important;
}
:-ms-input-placeholder {
  color: #cdd2d4 !important;
}
::-ms-input-placeholder {
  color: #cdd2d4 !important;
}
/* CONTAINER */
/*======================================*/
#container.boxed-layout {
  background-color: #dfe5ee;
}
/* CLEAN ZONE (LOGIN, REGISTER, AND ERROR PAGES CONTAINER) */
/*======================================*/
.cls-container {
  background-color: #e1eceb;
}
.cls-container,
.cls-container a:not(.btn),
.cls-container a:hover:not(.btn),
.cls-container a:focus:not(.btn) {
  color: #69757b;
}
#container.cls-container .cls-brand .brand-icon,
#container.cls-container .cls-brand .brand-title {
  color: #0f5650;
}
/* BOXED LAYOUT */
/*======================================*/
@media (min-width: 1024px) {
  #container.boxed-layout,
  #container.boxed-layout.navbar-fixed #navbar {
    background-color: #8c979b;
  }
}
/* SCROLLBAR */
/*======================================*/
.nano > .nano-pane > .nano-slider,
.pace .pace-progress {
  background-color: #1e3a57;
}
.pace .pace-progress-inner {
  box-shadow: 0 0 10px #0B3535, 0 0 5px #0B3535;
}
/* NAVBAR
    /*====================================*/
@media (min-width: 768px) {
  #navbar {
    background-color: transparent;
  }
}
.navbar-content {
  background-color: #0B3535;
}
.navbar-aside-icon > i:before {
  background-color: #dbdbdb !important;
  box-shadow: 0 0.45em 0 #dbdbdb, 0 0.9em 0 #dbdbdb !important;
}
/* NAVBAR ICON & BUTTON */
/*======================================*/
.navbar-icon-color,
.navbar-top-links > li > a:focus:not(.mainnav-toggle) > i,
.navbar-top-links > li > a:hover:not(.mainnav-toggle) > i {
  color: #b5b5b5;
}
.navbar-top-links > li > a {
  color: #dbdbdb;
}
.navbar-top-links > li > a:not(.mainnav-toggle) > i {
  color: #dbdbdb;
}
.navbar-top-links > li > a:hover {
  background-color: #0B3535 !important;
  color: #b5b5b5;
}
.navbar-top-links > .open > a,
.navbar-top-links > .open > a:focus {
  background-color: #3a444e !important;
  color: #b5b5b5;
}
.navbar-top-links .tgl-menu-btn > a,
.navbar-top-links .tgl-menu-btn > a:hover,
.navbar-top-links .tgl-menu-btn > a:focus {
  color: #dbdbdb;
}
.navbar-top-links .head-list li a i {
  color: #0f5650;
}
.navbar-top-links .head-list li a:hover {
  color: #0b3535;
}
/* NAVBAR RESPONSIVE */
/*======================================*/
@media (min-width: 768px) {
  .navbar-header:before {
    background-color: #0B3535;
  }
  #navbar-container {
    background-color: #0B3535;
  }
  #container.mainnav-in .brand-title,
  #container.mainnav-sm .brand-title,
  #container.mainnav-lg .brand-title {
    color: #dbdbdb;
  }
}
/* SEARCHBOX */
/*======================================*/
.navbar-content .custom-search-form i {
  color: #dbdbdb;
}
@media (min-width: 768px) {
  .navbar-content .custom-search-form input {
    color: #dbdbdb;
  }
  .navbar-content .custom-search-form input::placeholder {
    color: rgba(219, 219, 219, 0.4) !important;
    opacity: 1;
  }
  .navbar-content .custom-search-form input::-webkit-input-placeholder {
    color: rgba(219, 219, 219, 0.4) !important;
  }
  .navbar-content .custom-search-form input:-ms-input-placeholder {
    color: rgba(219, 219, 219, 0.4) !important;
  }
  .navbar-content .custom-search-form input::-ms-input-placeholder {
    color: rgba(219, 219, 219, 0.4) !important;
  }
}
/* NAVIGATION */
/*======================================*/
#mainnav {
  background-color: #ffffff;
  color: #0B3535;
}
#mainnav .list-header {
  color: #3c4045;
}
/* PROFILE WIDGET */
/*======================================*/
.mainnav-profile,
.mainnav-profile .mnp-name,
.mainnav-profile .dropdown-caret,
.mainnav-profile .mnp-desc {
  color: #0f5650;
}
.mainnav-profile .profile-wrap {
  background-color: #fff;
}
#mainnav .mainnav-profile .list-group {
  background-color: #fafafa;
}
#mainnav .mainnav-profile .list-group-item {
  color: #0f5650;
}
#mainnav .mainnav-profile .list-group-item:hover {
  color: #303d4c;
}
/* NAVIGATION MENU */
/*======================================*/
#mainnav-menu > li > a:hover,
#mainnav-menu > li > a:active {
  color: #0B3535;
}
#mainnav-menu > li > a.hover {
  color: #0B3535;
  background-color: #ffffff;
}
#mainnav-menu > .active-link > a,
#mainnav-menu > .active-link > a:hover {
  color: #fff;
  background-color: #0B3535;
}
#mainnav-menu > .active-link > a i,
#mainnav-menu > .active-link > a:hover i {
  color: #fff;
}
#mainnav-menu > .active-sub > a,
#mainnav-menu > .active-sub > a:hover {
  color: #fff;
  background-color: #0B3535;
}
#mainnav-menu > .active-sub .active-sub > a,
#mainnav-menu > .active-sub .active-sub > a:hover {
  color: #0B3535;
}
#mainnav-menu .active:not(.active-sub) > a {
  color: #0B3535;
}
#mainnav-menu > .active {
  background-color: #fafafa;
}
#mainnav-menu > .active .active {
  background-color: #f5f5f5;
}
#mainnav-menu ul a:hover,
.menu-popover .sub-menu ul a:hover,
#mainnav-menu ul ul a:hover,
.menu-popover .sub-menu ul ul a:hover,
#mainnav-menu ul .active-link a,
.menu-popover .sub-menu ul .active-link a {
  color: #0B3535;
}
#container.mainnav-sm #mainnav-menu > .active-link > a,
#container.mainnav-sm #mainnav-menu > .active-sub > a,
#container.mainnav-sm #mainnav-menu > .active-link a:hover,
#container.mainnav-sm #mainnav-menu > .active-sub a:hover {
  background-color: #0B3535;
  box-shadow: none;
}
/* NAVIGATION - SHORTCUT BUTTONS */
/*======================================*/
#mainnav-shortcut .shortcut-grid {
  color: #6b737c;
}
#mainnav-shortcut .shortcut-wrap .shortcut-grid:hover > .icon-wrap {
  background-color: #0B3535;
  color: #fff;
}
/* NAVIGATION - WIDGET */
/*======================================*/
.mainnav-widget {
  color: #6b737c;
}
/* NAVIGATION - COLLAPSING  */
/*======================================*/
@media (min-width: 768px) {
  #container.mainnav-sm ul:not(.shortcut-wrap) .shortcut-grid:hover,
  #container.mainnav-sm .popover.mainnav-shortcut {
    background-color: #ffffff;
    color: #0B3535;
  }
  #container.mainnav-sm #mainnav-menu .active-link > a,
  #container.mainnav-sm #mainnav-menu .active-sub > a {
    color: #fff;
  }
  #container.mainnav-sm #mainnav {
    position: relative;
  }
  #container.mainnav-sm #mainnav .mainnav-widget > .show-small a {
    color: #6b737c;
  }
  #container.mainnav-sm #mainnav .mainnav-widget > .show-small a:hover {
    color: #0B3535;
  }
  #container.mainnav-sm #mainnav .mainnav-widget .hover {
    color: #0B3535;
    background-color: #ffffff;
  }
  .menu-popover .sub-menu ul {
    background-color: #f7f7f7;
  }
  .menu-popover .sub-menu ul ul {
    background-color: #f2f2f2;
  }
  .menu-popover .sub-menu ul ul > li > a:hover {
    color: #0B3535;
  }
  .menu-popover .sub-menu ul a:hover {
    color: #0B3535;
  }
  .menu-popover .sub-menu ul li > a {
    color: #6b737c;
  }
  .menu-popover .single-content {
    color: #0B3535;
    background-color: #ffffff;
  }
  .menu-popover.popover {
    background-color: #fafafa;
    color: #0B3535;
  }
  .menu-popover > .popover-title {
    background-color: #ffffff;
    color: #0B3535;
  }
  .menu-popover .mainnav-widget-content {
    background-color: #ffffff;
  }
}
.mainnav-sm .popover.mainnav-shortcut {
  background-color: #fafafa;
  color: #0B3535;
}
/* NAVIGATION - OFFCANVAS */
/*======================================*/
@media (min-width: 768px) {
  #container.mainnav-in.easeInBack:not(.boxed-layout) #mainnav-container {
    box-shadow: -20px 0 0 0 #fff;
  }
  #container.mainnav-out .brand-title {
    color: #dbdbdb;
  }
}
/* ASIDE */
/* ===================================== */
#container #aside .list-link li a:not(.btn) {
  color: #d1d1d1;
}
#container #aside .list-link li a:not(.btn):hover {
  color: #fff;
}
#container #aside .badge-stat {
  color: #344146;
}
#container #aside .text-main {
  color: #fff;
}
#aside {
  background-color: #344146;
  color: #fff;
}
#aside .btn-link {
  color: #fff;
}
#aside .text-muted {
  color: #879da6;
}
/* ASIDE WITH TABS */
/* ===================================== */
#aside-container #aside .nav-tabs li {
  border-bottom: 1px solid #293337;
}
#aside-container #aside .nav-tabs li > a {
  background-color: #344146;
}
#aside-container #aside .nav-tabs li > a:before {
  background: #0B3535;
}
#aside-container #aside .nav-tabs .active a:before {
  background: #0B3535;
}
#container.aside-bright #aside .nav-tabs li {
  border-bottom: 1px solid #f9f9f9;
}
#container.aside-bright #aside .nav-tabs li > a {
  background-color: #fff;
}
/* ASIDE : BRIGHT COLOR THEMES */
/* ===================================== */
#container.aside-bright #aside {
  background-color: #fff;
  color: #0b3535;
}
#container.aside-bright #aside .badge-stat {
  color: #fff;
}
#container.aside-bright #aside .text-main {
  color: #0f5650;
}
#container.aside-bright #aside .text-light {
  color: #0b3535;
}
#container.aside-bright #aside .text-muted {
  color: #b1b9bd;
}
#container.aside-bright #aside .progress {
  background-color: #e6e6e6;
}
#container.aside-bright #aside .list-link li a:not(.btn) {
  color: #88939a;
}
#container.aside-bright #aside .list-link li a:not(.btn):hover {
  color: #0b3535;
}
#container.aside-bright #aside a:not(.btn) {
  color: #0b3535;
}
#container.aside-bright #aside a:not(.btn):hover,
#container.aside-bright #aside a:not(.btn):focus {
  color: #626d73;
}
#container.aside-bright #aside .btn-link {
  color: #0b3535;
}
/* FOOTER */
/*======================================*/
#footer {
  background-color: #f6f8fa;
  color: #0b3535;
}
/* BOOTSTRAP'S COMPONENTS */
/*======================================*/
.jumbotron {
  background-color: #dbe3ec;
}
/* MEGAMENU */
/*======================================*/
.open.mega-dropdown > .mega-dropdown-toggle:before {
  border-bottom: 7px solid rgba(0, 0, 0, 0.07);
}
.open.mega-dropdown > .mega-dropdown-toggle:after {
  border-bottom: 7px solid #fff;
}
/* TIMELINE */
/*======================================*/
.timeline {
  background-color: #e1eceb;
  color: #0b3535;
}
.timeline:before,
.timeline:after {
  background-color: #bfc5c9;
}
.timeline:after {
  border: 1px solid #bfc5c9;
  background-color: #e1eceb;
}
.timeline-time {
  background-color: #e1eceb;
  color: #0b3535;
}
.timeline-icon:not([class*="bg-"]) {
  background-color: #e1eceb;
}
.timeline-icon:empty {
  border: 2px solid #bfc5c9;
}
.timeline-label {
  background-color: #ffffff;
}
.timeline-label:after {
  border-right: 9px solid #ffffff;
}
.panel .timeline,
.panel .timeline:after,
.panel .timeline-time,
.panel .timeline-label,
.panel .timeline-icon:not([class^="bg-"]):not([class*=" bg-"]) {
  background-color: #fff;
}
.panel .timeline-label {
  background-color: #f3f5f9;
}
.panel .timeline-label:after {
  border-right-color: #f3f5f9;
}
@media (min-width: 768px) {
  .two-column.timeline .timeline-entry:nth-child(even) .timeline-label:after {
    border-left: 9px solid #ffffff;
  }
}
/* TAGS */
/*======================================*/
.tag:not(.label) {
  background-color: #fff;
  border: 1px solid #d4dee0;
}
/* EMAIL */
/*======================================*/
.mail-time {
  color: #b1b9bd;
}
.mail-list > li:nth-child(odd) {
  background-color: rgba(0, 0, 0, 0.01);
}
.mail-list > li:hover {
  background-color: rgba(0, 0, 0, 0.05);
}
.mail-list > li.highlight {
  background-color: #f2f0c2;
}
.mail-list a,
.mail-list a:focus {
  display: inline-block;
  color: #0b3535;
}
.mail-star > a,
.mail-star > a:focus {
  color: #d3d7da;
}
.mail-starred .mail-star > a {
  color: #ffa100;
}
.mail-list .mail-star > a:hover {
  color: #ffbd4d;
}
.mail-attach-list > li .mail-file-img,
.mail-attach-list > li .mail-file-icon {
  background-color: #f8f9fa;
}
/* FORM WIZARD */
/*======================================*/
.wz-icon-bw li.active ~ li > a .icon-wrap {
  color: #0b3535;
}
.wz-icon-bw li:not(.active) > a p {
  color: #0b3535 !important;
}
/* NIFTY NOTIFICATIONS */
/*======================================*/
.alert-primary .alert-icon {
  color: #fff;
}
.alert-info .alert-icon {
  color: #fff;
}
.alert-success .alert-icon {
  color: #fff;
}
.alert-warning .alert-icon {
  color: #fff;
}
.alert-danger .alert-icon {
  color: #fff;
}
.alert-mint .alert-icon {
  color: #fff;
}
.alert-purple .alert-icon {
  color: #fff;
}
.alert-pink .alert-icon {
  color: #fff;
}
.alert-dark .alert-icon {
  color: #fff;
}
/* NIFTY PURE CSS SELECT COMPONENT */
/*======================================*/
.select:before {
  border-top-color: #b1b9bd;
}
.select select:focus {
  border-color: #0B3535;
}
.pci-hor-dots:before,
.pci-ver-dots:before {
  background-color: #0b3535;
  box-shadow: 0 0.45em 0 #0b3535, 0 0.9em 0 #0b3535;
}
/* BREADCRUMB */
/*======================================*/
.breadcrumb li,
.breadcrumb li a {
  color: #626d73;
}
/* FORM CONTROL  */
/*======================================*/
.form-control:focus {
  border-color: #0B3535;
}
/* LIST GROUP */
/*======================================*/
.list-group-item.active,
.list-group-item.active:hover,
.list-group-item.active:focus {
  background-color: #0B3535 !important;
  border-color: #0B3535;
  color: #fff;
}
.list-group-item.active .list-group-item-text,
.list-group-item.active:hover .list-group-item-text,
.list-group-item.active:focus .list-group-item-text {
  color: #fff;
}
/* DROPDOWN */
/*======================================*/
.dropdown-menu:not(.head-list) > li > a:hover {
  background-color: #0B3535;
  color: #fff;
}
/* POPOVER */
/*======================================*/
.popover {
  border: 1px solid #e9edf3;
}
/* WELLS */
/*======================================*/
.well {
  background-color: #e9edf3;
  border-color: #e2e8f0;
}
/* PAGER */
/*======================================*/
.pager li > a:active {
  background-color: #0B3535 !important;
  color: #fff !important;
}
.pager li > a:hover,
.pager li > a:focus {
  background-color: #fff;
  border-color: #0B3535;
  color: #0B3535;
  box-shadow: inset 0 0 1px #0B3535, 0 3px 15px rgba(0, 0, 0, 0.25);
  z-index: 2;
}
/* PAGINATION */
/*======================================*/
.pagination > li a:hover,
.pagination > li a:focus {
  border-color: #0B3535;
  color: #0B3535;
  box-shadow: inset 0 0 1px #0B3535;
}
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  background-color: #0B3535;
  border-color: #0B3535;
}
/* TABS */
/*======================================*/
.tab-base .tab-content {
  background-color: #fff;
}
.tab-base .tab-content .tab-footer {
  background-color: #f6f8fa;
  color: #0b3535;
  border-color: #eff3f7;
}
.nav-tabs li a {
  color: #0b3535;
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
  color: #0f5650;
}
/* BUTTONS */
/*======================================*/
.btn-primary,
.btn-primary:focus {
  background-color: #294f75;
  border-color: #294f75 !important;
  color: #fff;
}
.btn-primary:hover,
.btn-primary:active,
.btn-primary.active,
.btn-primary:disabled,
.btn-primary.disabled,
.btn-primary:not([class*="btn-active-"]) + .dropdown-menu > li > a:hover,
.btn-primary:not([class*="btn-active-"]) + .dropdown-menu > li > a:focus,
.btn-primary:not([class*="btn-active-"]) + .dropdown-menu > .active > a,
.btn-primary + .dropdown-menu:not(.head-list) > li > a.active,
.open > .dropdown-toggle.btn-primary,
.btn-hover-primary:hover,
.btn-hover-primary:active,
.btn-hover-primary.active,
.btn-active-primary.btn:active,
.btn-active-primary.btn.active,
.btn-active-primary + .dropdown-menu > li > a:hover,
.btn-active-primary + .dropdown-menu > li > a:focus,
.btn-active-primary + .dropdown-menu > .active > a,
.open .dropdown-toggle.btn.btn-active-primary,
.btn-group.open .dropdown-toggle.btn.btn-active-primary {
  background-color: #1c3550 !important;
  border-color: #1c3550 !important;
  color: #fff !important;
}
/* PANELS */
/*======================================*/
.panel-primary .panel-heading,
.panel-primary .panel-footer,
.panel-primary.panel-colorful {
  background-color: #0B3535;
  border-color: #0B3535;
  color: #fff;
}
.panel-primary.panel-colorful {
  box-shadow: 0 1px 1px #0b141e;
}
.panel-footer {
  background-color: #fdfdfe;
  color: #0b3535;
}
/* MAGIC CHECK */
/*======================================*/
.magic-radio + label:hover:before,
.magic-checkbox + label:hover:before {
  border-color: #0B3535;
}
.magic-checkbox:checked + label:before {
  background: #0B3535;
  border-color: #0B3535;
}
.magic-radio + label:after {
  background: #0B3535;
}
.magic-radio:checked + label:before {
  border-color: #0B3535;
}
.magic-radio:checked:focus + label:before,
.magic-checkbox:checked:focus + label:before {
  box-shadow: 0 0 0 10px rgba(37, 71, 106, 0.17), inset 0 0 0 10px rgba(22, 119, 179, 0.17);
}
/* MIX COMPONENTS */
/*======================================*/
.alert-primary,
.btn-primary {
  border-color: #0B3535;
}
.btn-primary,
.label-primary,
.badge-primary,
.progress-bar-primary,
.alert-primary,
.bg-primary {
  background-color: #0B3535;
  color: #fff;
}
/* SCROLL TO TOP BUTTON */
/*======================================*/
.scroll-top.in {
  background-color: #0B3535;
  color: #fff;
}
body .chosen-container-multi .chosen-choices li.search-choice,
body .chosen-container .chosen-results li.highlighted {
  background-color: #0B3535;
  color: #fff;
}
body .select2-container--default .select2-results__option[aria-selected="true"]:hover,
body .select2-container--default .select2-selection--multiple .select2-selection__choice,
body .select2-container--default .select2-results__option--highlighted[aria-selected] {
  background-color: #0B3535;
  color: #fff;
}
body .select2-container--default .select2-selection--multiple .select2-selection__choice {
  border-color: #0B3535;
}
body .datepicker table thead {
  color: #0f5650;
}
body .datepicker-switch {
  color: #0B3535;
}
body .datepicker table tr td span.active.active,
body .datepicker table tr td span.active.disabled.active,
body .datepicker table tr td span.active.disabled:active,
body .datepicker table tr td span.active.disabled.active:hover,
body .datepicker table tr td span.active.disabled:hover:active,
body .datepicker table tr td span.active:active,
body .datepicker table tr td span.active.active:hover,
body .datepicker table tr td span.active:hover:active,
body .datepicker table tr td.active.active,
body .datepicker table tr td.active.highlighted.active,
body .datepicker table tr td.active.highlighted:active,
body .datepicker table tr td.active:active,
body .datepicker table tr td.selected,
body .datepicker table tr td.selected.highlighted {
  background-color: #0B3535;
  border-color: #0B3535;
  color: #fff;
}
body .datepicker table tr td.active.active:hover {
  background-color: #182e44;
}
body .datepicker table tr td.range {
  background-color: #6093c8;
}
body .bootstrap-timepicker-widget table td a {
  color: #0f5650;
}
body .noUi-connect {
  background: #0B3535;
}
body .noUi-handle {
  background: #0B3535;
}
body .noUi-marker-large,
body .noUi-marker {
  background: rgba(255, 255, 255, 0.2);
}
body .fixed-table-container tbody .selected td,
body #container .table.dataTable tbody tr.selected {
  background-color: #0B3535;
  color: #fff;
}
body .fixed-table-container tbody .selected td .text-muted,
body #container .table.dataTable tbody tr.selected .text-muted,
body .fixed-table-container tbody .selected td .btn-link,
body #container .table.dataTable tbody tr.selected .btn-link {
  color: #fff;
}
body .jstree-default .jstree-clicked {
  background-color: #0B3535 !important;
  color: #fff;
}
body .dd-dragel {
  color: #0f5650;
}
body .dd-dragel .dd-handle-btn:before {
  background-color: #fff;
  color: #fff;
}
body .dd-dragel .dd-content,
body .dd-dragel > .dd-item .dd-handle {
  background-color: #0B3535;
  color: #fff;
  box-shadow: none;
}
body .dd-outline:hover,
body .dd-dashed:hover {
  border-color: #0B3535;
}
@keyframes dd-update {
  1% {
    color: #fff;
    background-color: #0B3535;
  }
  100% {
    background-color: #fff;
  }
}
@keyframes dd-dragging {
  1% {
    background-color: #fff;
    box-shadow: none;
  }
  100% {
    background-color: #0B3535;
    color: #fff;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.15);
  }
}
body .note-editable.panel-body {
  border: 1px solid rgba(0, 0, 0, 0.07);
}
#content-container:before {
  content: '';
  display: none;
}
#page-head,
#page-content {
  position: static;
}
.page-header {
  color: #0f5650;
}
#page-head,
#page-head h1,
#page-head h2,
#page-head h3,
#page-head h4,
#page-head h5,
#page-head h6,
#page-head .text-main,
#page-head .breadcrumb li,
#page-head .breadcrumb li a,
#page-head .breadcrumb .active {
  color: #0f5650;
  padding-left: 10px;
  padding-top: 15px;
}
#page-head .breadcrumb > li + li:before {
  border-color: #0f5650;
}
.select select {
  color: #0b3535;
}
.panel .fixed-fluid [class*="fixed-"] {
  background-color: transparent;
}
.fixed-fluid [class*="fixed-"] {
  background-color: #e1eceb;
  border-radius: 3px;
}
