<template>
	<div>
		<header-title :title="title"></header-title>
		<form @submit.prevent="submit" method="POST" class="form" enctype="multipart/form-data">
			<div class="card">		
				<div class="card-body">
					<div class="row">
						<div class="form-group floating-label">
              <input type="text" 
              			 class="form-control dirty" 
              			 name="name" 
              			 v-model="departament.name" 
              			 autocomplete="off" 
              			 :value="departament.name">
              <label for="name">Departamento</label>
              <span class="help-block"></span>
            </div>
					</div>
				</div>
				<div class="card-actionbar style-default-light action-bar">
          <div class="card-actionbar-row">
          		<button type="button" @click.prevent="cancel" class="btn btn-default ink-reaction">Cancelar</button>
              <button type="submit" class="btn btn-primary ink-reaction" v-if="!$route.params.id">Salvar</button>
              <button type="submit" class="btn btn-primary ink-reaction" v-else>Atualizar</button>
          </div>
        </div>
			</div>
		</form>
	</div>
</template>

<script>
	import Header from '../partials/Header.vue'
 
	export default {
		name: 'CcDepartamentsForm',
		components: {
			'header-title': Header,
			'pagination': require('vue-bootstrap-pagination') 
		},
		data() {
			return {
				title: '',
				departament: {id: 0, name: ''}
	    }
		},
		created(){
			this.fetch()
		},
		watch: {
      $route: 'fetch',
    },
		methods: {
			fetch(){
	    	if(this.isEdit){
		    	this.$http.get('departaments/'+ this.$route.params.id +'/edit').then(res => {
		    		var data = res.data.data
		    		this.departament = data
		    	}) 
	  		}

				if(this.isEdit){
					this.title = 'Editar departamento'
				} else {
					this.departament = {id: 0, name: ''}
					this.title = 'Cadastrar departamento'
				}			
			},
			submit(){
				if(this.isEdit){
					this.update()
				} else {
					this.save()
				}				
			},
			save(){
				this.$http.post('departaments', this.departament).then(res => {
					var data = res.data.data
					this.$router.push({name: 'departaments.index'})
					swal(
					  'Sucesso',
					  data.message,
					  'success'
					).then(() => {
						this.$bus.$emit('departament.updated')
					})
				})
			},
			update(){
				var id = this.departament.id;

				this.$http.put('departaments/'+id, this.departament).then(res => {
					var data = res.data.data
					this.$router.push({name: 'departaments.index'})
					swal(
					  'Sucesso',
					  data.message,
					  'success'
					).then(() => {
						this.$bus.$emit('departament.updated')
					})
				})
			},
			cancel(){
				this.$router.push({ name: 'departaments.index' })
			}
	  },
	  computed:{
			isEdit(){
				return (this.$route.params.id > 0);
			}
		},
	}
</script>