<template>
	<div>
		<header-title :title="sub_title" :small_title="event.title"></header-title>
		<div class="row">
			<div class="col-sm-12">
				<form @submit.prevent="submit" method="POST" class="form" enctype="multipart/form-data">
					<div class="card">		
						<div class="card-body no-padding style-primary-bright">
							<div class="row">
								<div class="col-md-3">
									<div class="force-padding">
										<div class="form-group floating-label">
                      <thumb-upload title="Selecionar Imagem" action='api/events/upload' 
	              							v-model="event.image_feacture" 
	              							name='image_feacture'>
  										</thumb-upload>
                    </div>
                    <div class="form-group floating-label">
                      <label for="status">Situação</label>
                      <div>
												<label class="radio-inline radio-styled">
													<input type="radio" id="1" value="1" v-model="status" @change="event.status = status" :checked="event.status == 1">
													<span>Ativo</span>
												</label>
												<label class="radio-inline radio-styled">
													<input type="radio" id="0" value="0" v-model="status"  @change="event.status = status" :checked="event.status == 0">
													<span>Inativo</span>
												</label>
											</div>
                    </div>
									</div>
								</div>
								<div class="col-md-9">
									<div class="force-padding style-default-bright">
										<div class="form-group floating-label">
                      <input type="text" class="form-control dirty" name="title" v-model="event.title">
                      <label for="title">Título</label>
                      <span class="help-block"></span>
                    </div>
                    <div class="form-group">
                      <textarea class="form-control" name="local" rows="2" maxlength="160" :value="event.local"  v-model="event.local"></textarea>
                      <label for="local">Local</label>
                      <span class="help-block"></span>
                    </div>
                    <div class="form-group">
                      <summernote v-model="event.content"></summernote>
                      <label for="content">Conteúdo</label>
                      <span class="help-block"></span>
                    </div>
                    <div class="row">
                    	<div class="col-sm-3">
												<div class="form-group floating-label">
                          <date-picker v-model="event.event_date"></date-picker>
                          <label for="event_date">Data do Evento</label>
                          <span class="help-block"></span>
                        </div>
                    	</div>
                    	<div class="col-sm-3">
												<div class="form-group floating-label">
                          <date-picker v-model="event.start_date"></date-picker>
                          <label for="start_date">Data Inicio</label>
                          <span class="help-block"></span>
                        </div>
                    	</div>

                    	<div class="col-sm-3">
												<div class="form-group floating-label">
                          <date-picker v-model="event.end_date"></date-picker>
                          <label for="end_date">Data Fim</label>
                          <span class="help-block"></span>
                        </div>
                    	</div>
                    </div>
									</div>
								</div>
							</div>
						</div>
						<div class="card-actionbar style-default-light action-bar">
              <div class="card-actionbar-row">
              		<button type="button" @click.prevent="cancel" class="btn btn-default ink-reaction">Cancelar</button>
                  <button type="submit" class="btn btn-primary ink-reaction" v-if="!$route.params.id">Salvar</button>
                  <button type="submit" class="btn btn-primary ink-reaction" v-else>Atualizar</button>
              </div>
            </div>
					</div>
				</form>
			</div>
		</div>
	</div>
</template>

<script>
	import Header from '../partials/Header.vue'
	import { mapActions } from 'vuex'
	import ThumbUpload from '../components/ThumbUpload.vue'
	import Datepicker from '../components/Datepicker.vue'

	export default {
		name: 'CcEventsForm',
		components: {
			'header-title': Header,
			'date-picker': Datepicker,
			ThumbUpload
			
		},
		data(){
			return {
				title: '',
				sub_title: '',
				event: {id: 0, title: '', local: '', content: '', start_date: null, end_date: null, event_date: null, status: 1 },
				status: 1
			}
		},
		computed:{
			isEdit(){
				return (this.$route.params.id > 0);
			}
		},
		methods:{
			fetch(){
	    	if(this.isEdit){
		    	this.$http.get('events/'+ this.$route.params.id +'/edit').then(res => {
		    		var data = res.data.data
		    		this.event = data
		    		this.status = this.event.status
		    	}) 
	  		}
			},
			submit(){
				if(this.isEdit){
					this.update();
				} else {
					this.save();
				}
			},
			save(){
				this.$http.post('events', this.event).then(res => {
					var data = res.data.data
					this.$router.push({name: 'events.list'})
					swal(
					  'Sucesso',
					  data.message,
					  'success'
					).then(() => {
						this.$router.push({ name: 'events.index' })
					})
				})
			},
			update(){
				var id = this.event.id;

				this.$http.put('events/'+id, this.event).then(res => {
					var data = res.data.data
					swal(
					  'Sucesso',
					  data.message,
					  'success'
					).then(() => {
						this.$router.push({ name: 'events.index' })
					})
				})
			},
			cancel(){
				this.$router.push({ name: 'events.index' })
			}
		},
		mounted(){
 			this.fetch()
		},
		created(){
			if(this.isEdit){
				this.sub_title = 'Editar evento'
			} else {
				this.sub_title = 'Cadastrar evento'
			}		
		},
		watch: {
      $route: 'fetch',
    }
	}
</script>