<template>
	<div>
		<header-title :title="title"></header-title>
		<div class="row">
			<div class="col-sm-12">
				<div class="card">		
					<div class="card-body no-padding">
						<div class="table-responsive no-margin">
							<table class="table table-hover table-app">
								<thead>
									<tr>
										<th>
											<input type="checkbox" name="">
										</th>
										<th>Título</th>
										<th>Situação</th>
										<th>Data do Evento</th>
										<th>Criado em</th>
										<th>Ações</th>
									</tr>
								</thead>

								<tbody>
									<tr v-for="item in items">
										<td>
											<input type="checkbox" name="">
										</td>
										<td>{{item.title}}</td>
										<td>
											<status-view :ind_status="item.status"></status-view>
										</td>
										<td>{{item.event_date | dateFormat('DD/MM/YYYY') }}</td>
										<td>{{item.created_at | dateFormat('DD/MM/YYYY H:mm:s') }}</td>
										<td class="text-center">
												<router-link :to="{ name: 'events.photos', params: { id: item.id }}" 
																		 class="btn ink-reaction btn-icon-toggle btn-xs btn-primary" 
																		 title="Galeria de Imagens"><i class="md md-image"></i></router-link>
												<router-link :to="{ name: 'events.edit', params: { id: item.id }}" class="btn ink-reaction btn-icon-toggle btn-xs btn-info" title="Editar"><i class="md md-mode-edit"></i></router-link>
												<a class="btn ink-reaction btn-icon-toggle btn-xs btn-danger" @click.prevent="destroy(item.id)" title="Remover"><i class="md md-delete"></i></a>
										</td>
									</tr>			
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-sm-12">
				<pagination :pagination="pagination" :callback="loadData" :options="paginationOptions"></pagination>
			</div>
		</div>
	</div>
</template>

<script>
	import Header from '../partials/Header.vue'
	import StatusView from '../components/StatusView.vue'
	import { mapGetters, mapActions } from 'vuex'
	import Pagination from 'vue-bootstrap-pagination'
	
	export default {
		name: 'CcEventsTable',
		components: {
			'header-title': Header,
			'pagination': require('vue-bootstrap-pagination'),
			StatusView
		},
		data() {
			return {
				title: 'Lista de Eventos',
	      items: [],
	      pagination: {
	        total: 0,
	        per_page: 15,    // required
	        current_page: 1, // required
	        last_page: 0,    // required
	        from: 1,
	        to: 12           // required
	      },
	      paginationOptions: {
	        offset: 4,
	        previousText: 'Anterior',
	        nextText: 'Próximo',
	        alwaysShowPrevNext: true
	      }
	    }
		},
		filters: {
			permissionMask(value) {
				var mask;
				switch(value){
					case 'private': 
						mask = 'Privado';
						break;
					case 'grouped': 
						mask = 'Grupo';
						break;
					default: 
						mask = 'Privado';
						break;
				}
				return mask
			}
		},
		mounted(){
			this.loadData();
		},
		methods: {
	    loadData () {
	      let options = {
	        params: {
	          paginate: this.pagination.per_page,
	          page: this.pagination.current_page,
	        }
	      };
	      this.$http.get('events', { params: { page: this.pagination.current_page, search: '' } }).then(res => {
	      	var response = res.data.data
	      	this.items = response.data
	      	
	      	this.pagination = {
	      		total: response.total,
		        per_page: response.per_page,    // required
		        current_page: response.current_page, // required
		        last_page: response.last_page,    // required
		        from: response.from,
		        to: response.to           // required
	      	};
	      })
	    },
	    destroy(id){
	    	var vm = this
				swal({
				  title: 'Tem certeza que deseja excluir?',
				  type: 'warning',
				  showCancelButton: true,
				  confirmButtonColor: '#3085d6',
				  confirmButtonText: 'Sim!',
				  cancelButtonText: 'Não'
				}).then(function () {
					vm.$http.delete('events/'+id).then(res => {
						var data = res.data.data
						swal(
					    'Excluído',
					    data.message,
					    'success'
					  ).then(() => {
					  	vm.$bus.$emit('events.updated')
					  })	
					})
				  
				})
	    }
	  },
	  mounted(){
			this.loadData();
			this.$bus.$on('events.updated', () => {
				this.loadData()
			})
		}
	}
</script>