/*
  Empresa: Wing Mídia
  Desenvolvedor: Heliton Afonso Gonçalves
  E-mail: heliton@wingmidia.com.br
  Site: http://www.wingmidia.com.br
  Telefone: +55 34 3211.2150
  Cliente: Sicoob - www.sicoob.com.br
*/
@font-face {
    font-family: 'SegoeUI-Regular';
    src: url('/fonts/SegoeUI-Regular/SegoeUI-Regular.eot?#iefix') format('embedded-opentype'), url('/fonts/SegoeUI-Regular/SegoeUI-Regular.woff') format('woff'), url('/fonts/SegoeUI-Regular/SegoeUI-Regular.ttf') format('truetype'), url('/fonts/SegoeUI-Regular/SegoeUI-Regular.svg#SegoeUI-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SegoeUI-Semibold';
    src: url('/fonts/SegoeUI-Semibold/SegoeUI-Semibold.eot?#iefix') format('embedded-opentype'), url('/fonts/SegoeUI-Semibold/SegoeUI-Semibold.woff') format('woff'), url('/fonts/SegoeUI-Semibold/SegoeUI-Semibold.ttf') format('truetype'), url('/fonts/SegoeUI-Semibold/SegoeUI-Semibold.svg#SegoeUI-Semibold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SegoeUI-Bold';
    src: url('/fonts/SegoeUI-Bold/SegoeUI-Bold.eot?#iefix') format('embedded-opentype'), url('/fonts/SegoeUI-Bold/SegoeUI-Bold.woff') format('woff'), url('/fonts/SegoeUI-Bold/SegoeUI-Bold.ttf') format('truetype'), url('/fonts/SegoeUI-Bold/SegoeUI-Bold.svg#SegoeUI-Bold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'icomoon';
    src: url('/fonts/icomoon/icomoon.eot?d7hzg3');
    src: url('/fonts/icomoon/icomoon.eot?d7hzg3#iefix') format('embedded-opentype'), url('/fonts/icomoon/icomoon.ttf?d7hzg3') format('truetype'), url('/fonts/icomoon/icomoon.woff?d7hzg3') format('woff'), url('/fonts/icomoon/icomoon.svg?d7hzg3#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

/** Ico Moon **/
i.icomoon {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-note:before {
    content: "\e906";
}

.icon-cog-outline:before {
    content: "\e900";
}

.icon-gift:before {
    content: "\e901";
}

.icon-messages:before {
    content: "\e902";
}

.icon-calendar:before {
    content: "\e903";
}

.icon-email:before {
    content: "\e904";
}

.icon-bullhorn:before {
    content: "\e905";
}

.icon-link:before {
    content: "\e005";
}

.icon-cog:before {
    content: "\e023";
}

.icon-bag:before {
    content: "\e106";
}

.icon-profile:before {
    content: "\e923";
}

.icon-file-text2:before {
    content: "\e926";
}

/** Ico Moon **/

:focus {
    outline: none !important;
}

::selection {
    background: #DCE3E7;
    color: #13356F;
}

::-moz-selection {
    background: #DCE3E7;
    color: #13356F;
}

body {
    font-family: 'SegoeUI-Regular';
    font-size: 13px;
    background: #e8e8e8;
    color: #8B8B8B;
}

a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: #8B8B8B;
}

a img {
    border: 0;
}

h1 {
    font-size: 32px;
    font-family: 'SegoeUI-Bold';
}

h2 {
    font-size: 28px;
    font-family: 'SegoeUI-Bold';
}

h3 {
    font-size: 26px;
    font-family: 'SegoeUI-Bold';
}

.transicao {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.btn{
    text-transform: uppercase;
}

.btn-primary, .btn-primary:focus {
    background: #00A091;
    /*border: 0;
    border-radius: 0;
    padding: 8px 20px;*/
    color: #FFFFFF;
    /*font-size: 12px;*/
    border: 1px solid #00a091;
}

.btn-primary:hover, .btn-primary:active {
    background: #0B3535;
    /*border: 0;*/
/*    color: #7DB61C;*/
    /*-webkit-box-shadow: none;
    box-shadow: none;*/
}

.btn-link{
    color: #00A091;
}

.btn-link:hover{
    color: #0B3535;
}

.btn-full {
    width: 100%;
}

.btn-acessar, .btn-acessar:focus, .btn-acessar:active, .btn-acessar:hover {
    background-color: #76A11C;
    color: #FFFFFF;
    margin-right: 16px;
}

.lista-colorida li:before {
    content: "\25CF";
    padding-right: 0.8rem;
    color: #007EA4;
    font-size: 18px;
}

.borda-branca {
    border: 4px solid #FFFFFF;
}

.fundo-branco {
    background: #FFFFFF;
}

.fundo-verde-amarelado {
    background: #C9D200;
}

.fundo-verde {
    background: #7DB61C;
}

.fundo-verde-pastel {
    background: #00A091;
}

.fundo-verde-escuro {
    background: #0B3535;
}

.lnk-verde {
    color: #0B3535 !important;
}

.lnk-verde:hover {
    color: #00A091;
}

.cor-verde {
    color: #00A091;
}

.form-control:focus {
    border-color: #7db61c;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgb(125, 182, 28);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgb(125, 182, 28);
}

select.form-control {
    padding: 6px 22px 6px 10px;
    background: #FFFFFF url('/img/seta-baixo-cinza.png') no-repeat 96% center !important;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.input-group.disabled, select.form-control[disabled] {
    background-color: #EEEEEE !important;
}

.img-responsive {
    display: initial;
}

.carousel-control {
    width: 5%;
    background-image: none !important;
    filter: none !important;
    color: #0B3535 !important;
    opacity: 1 !important;
}

.carousel-control .glyphicon-chevron-left, .carousel-control .glyphicon-chevron-right, .carousel-control .icon-next, .carousel-control .icon-prev {
    margin-top: -17px !important;
}

.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
    margin: 0 auto;
    max-height: 450px;
}

.flexbox {
    display: flex;
}

.borda-topo-cinza {
    border-top: 1px solid #E9E9E9;
}

.sem-raio-borda {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

.limite-texto {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.sombra-caixa {
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.33);
}

.box-login {
    display: none;
    position: absolute;
    background: #FFFFFF url('/img/seta-verde-baixo.png') no-repeat 95% 0;
    padding: 20px;
    z-index: 110;
    right: 31px;
    width: 70%;
}

.box-login .btn-login {
    font-size: 14px;
    text-transform: uppercase;
    margin-bottom: 10px;
}

/* Header */
header {
    color: #FFFFFF;
    background: #0B3535;
}

header a, header a:visited {
    color: #FFFFFF;
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    border-radius: 0 !important;
}

header a:hover, header a:focus, header a:active {
    color: #FFFFFF;
}

header .ctn-cabecalho {
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    align-items: center;
}

header .ctn-cabecalho .ctn-usuario-logado .row {
    display: flex;
    align-items: center;
}

header .ctn-navegacao {
    font-family: 'SegoeUI-Semibold';
    background: #7DB61C;
    border: 0;
}

header .img-logo {
    padding: 11px 0 0;
}

header .ctn-navegacao a:hover {
    background-color: #00A091 !important;
}

header .ctn-navegacao .nav li.dropdown > a:after {
    position: absolute;
    right: 9px;
    content: "\025be";
}

header .ctn-navegacao .nav li > ul li a {
    float: left;
    width: 100%;
    padding: 10px 15px;
}

header .ctn-navegacao .nav li > ul li.dropdown > a:after {
    position: absolute;
    right: 9px;
    content: "\025b8";
}

header .ctn-navegacao .nav li > ul {
    display: none;
    position: absolute;
    border: 1px solid #FFFFFF;
    background: #7DB61C;
    z-index: 1000;
    width: 100%;
    list-style: none;
    padding: 0;
    top: 38px;
    left: 0;
}

header .ctn-navegacao .nav li > ul > li {
    position: relative;
    display: flex;
    border-bottom: 1px solid #FFFFFF;
}

header .ctn-navegacao .nav li:hover > ul {
    display: block;
}

header .ctn-navegacao .nav li > ul > li > ul {
    margin-left: 100%;
    top: -1px;
}

/* Inicio Formulario Flutuante */
header .ctn-form-contato-depto {
    width: 300px;
    position: fixed;
    z-index: 100;
    margin-top: 9px;
}

header .ctn-form-contato-depto.aberto {
    right: 0;
}

header .ctn-form-contato-depto.fechado {
    right: -300px;
}

header .ctn-form-contato-depto .ctn-botao {
    float: left;
    background-color: #00A091;
    margin-left: -50px;
    padding: 15px;
    font-size: 20px;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
    margin-top: 9px;
}

header .ctn-form-contato-depto .ctn-form {
    float: left;
    background-color: #00A091;
    border-radius: 4px;
    padding: 10px;
}

header .ctn-form-contato-depto .ctn-form .btn {
    background-color: #0B3535;
}

/* Inicio Menu Hamburguer */
header .ctn-navegacao a.btMenu {
    left: 10px;
}

header .ctn-navegacao a.btMenu:hover, header .ctn-navegacao a.btMenu:focus, header .ctn-navegacao a.btMenu:active {
    background-color: transparent !important;
}

#nav-hamburger {
    width: 30px;
    height: 0;
    position: relative;
    margin: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
    top: -7px;
}

#nav-hamburger span {
    display: block;
    position: absolute;
    height: 4px;
    width: 100%;
    background: #FFFFFF;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}

#nav-hamburger span:nth-child(1) {
    top: 0px;
}

#nav-hamburger span:nth-child(2), #nav-hamburger span:nth-child(3) {
    top: 8px;
}

#nav-hamburger span:nth-child(4) {
    top: 16px;
}

#nav-hamburger.open span:nth-child(1) {
    top: 18px;
    width: 0%;
    left: 50%;
}

#nav-hamburger.open span:nth-child(2) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

#nav-hamburger.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

#nav-hamburger.open span:nth-child(4) {
    top: 18px;
    width: 0%;
    left: 50%;
}

/* Fim Menu Hamburguer */

/* Main */
.menu-principal li {
    margin-bottom: 11px;
}

.menu-principal a {
    font-family: 'SegoeUI-Semibold';
    text-align: center;
    padding: 10px 6px !important;
    border-radius: 4px;
    letter-spacing: -0.5px;
}

.menu-principal a, .menu-principal a:visited {
    color: #FFFFFF;
    max-width: 100px;
    min-height: 90px;
}

.menu-principal .nav li a.open {
    min-height: 65px;
}

.menu-principal a i {
    color: #00A091;
    font-size: 24px;
    margin-bottom: 9px;
    display: block;
}

.menu-principal a i.icon-retina {
    font-size: 36px !important;
}

.menu-principal a.active, .menu-principal a:hover, .menu-principal a:focus, .menu-principal a:active {
    color: #0B3535;
    background-color: #7DB61C !important;
}

.menu-principal a.active i, .menu-principal a:hover i, .menu-principal a:focus i, .menu-principal a:active i {
    color: #0B3535;
}

.img-aviso {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.titulo-janelas {
    display: flex;
    align-items: center;
    padding: 10px;
    margin: 0;
}

.titulo-janelas i {
    color: #00A091;
    font-size: 24px;
    padding-right: 6px;
}

.titulo-janelas span {
    color: #195B60;
    font-size: 13px;
}

.titulo-janelas div {
    color: #195B60;
    font-size: 18px;
}

.ctn-avisos-banner {
    padding: 15px;
}

.ctn-avisos-banner .ctn-avisos {
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 15px;
    border: 1px solid #E9E9E9;
}

.ctn-avisos-banner .ctn-avisos span {
    display: block;
    margin-top: 9px;
}

.menu-principal, .ctn-ultimas-noticias, .ctn-cotacao, .conteudo-central {
    margin-top: 20px;
}

.ctn-ultimas-noticias a.lnk-noticia {
    float: left;
}

.ctn-ultimas-noticias a.lnk-noticia:hover {
    background-color: #f0f0f0;
}

.ctn-ultimas-noticias a.lnk-noticia span.data {
    font-family: 'SegoeUI-Semibold';
}

.ctn-ultimas-noticias .media {
    padding: 10px 15px;
}

.barra-lateral {
    margin-top: 5px;
}

.conteudo-central, .barra-lateral {
    margin-bottom: 20px;
}

.ctn-cotacao {
    padding: 20px;
    overflow: hidden;
}

.ctn-cotacao iframe {
    display: block;
    margin: 0 auto;
}

.barra-lateral .ctn-eventos, .barra-lateral .ctn-forum, .barra-lateral .ctn-aniversariantes, .ctn-contra-cheque, .ctn-atividades, .ctn-documentos {
    margin-bottom: 20px;
    line-height: inherit;
}

.barra-lateral .ctn-eventos .media {
    margin-top: 5px;
}

.barra-lateral .ctn-eventos .media:hover {
    background-color: #E9E9E9 !important;
}

.barra-lateral .ctn-eventos .media:nth-child(even) {
    background-color: #F4F4F4;
}

.ctn-eventos .box-data {
    position: absolute;
    background-color: #FFFFFF;
    border: 1px solid #00A091;
    padding: 10px 15px;
    top: 15px;
    left: 15px;
}

.ctn-eventos .box-data.interno {
    position: inherit;
    width: 70px;
    display: inline-block;
    float: left;
    margin-right: 20px;
}

.ctn-eventos .data {
    padding: 5px 15px;
}

.ctn-eventos .data .data-dia,
.ctn-eventos .data .data-mes {
    font-size: 32px;
    color: #195B60;
    line-height: 32px;
}

.ctn-eventos .data .data-dia {
    border-bottom: 1px solid #00A091;
}

.ctn-eventos .conteudo {
    margin-top: 40px;
}

.barra-lateral .ctn-eventos .media-body {
    vertical-align: middle;
}

.barra-lateral .ctn-forum .media {
    padding: 10px;
    margin-top: 0;
}

.barra-lateral .ctn-forum .media:hover {
    background-color: #E9E9E9 !important;
}

.barra-lateral .ctn-forum .media:nth-child(even) {
    background-color: #F4F4F4;
}

.barra-lateral .ctn-forum .media-heading {
    font-weight: bold;
    font-size: 15px;
    color: #195B60;
}

.barra-lateral .ctn-forum .media-body {
    font-size: 12px;
    line-height: 14px;
}

.barra-lateral .ctn-aniversariantes > .row a {
    font-family: 'SegoeUI-Semibold';
    float: left;
    width: 100%;
    color: #195A5F;
    padding: 4px 10px;
}

.barra-lateral .ctn-aniversariantes > .row a:hover {
    color: #00A091;
    background-color: #E9E9E9;
}

.box-produto {
    color: #FFFFFF; /*padding: 20px;*/
    margin-bottom: 20px;
    font-size: 16px;
}

.box-produto .img-responsive,
.box-produto .descricao-produto {
    display: inline-block;
}

/*.box-produto .img-responsive { margin-top: -25px; margin-right: 10px; }*/
.ctn-contra-cheque, .ctn-atividades, .ctn-documentos, .ctn-noticias, .ctn-eventos, .ctn-produtos, .ctn-forum, .ctn-login {
    padding: 15px;
    margin-top: 15px;
}

.lista-tabela .table {
    margin: 20px 0 0;
}

.lista-tabela .table > thead:first-child > tr:first-child > th {
    font-family: 'SegoeUI-Semibold';
    font-weight: 100;
    border-bottom: 0;
    padding: 20px 8px;
}

.lista-tabela .table > tbody > tr:nth-child(odd) {
    background-color: #F4F4F4;
}

.lista-tabela .table-hover > tbody > tr:hover {
    background-color: #E9E9E9;
}

.lista-tabela .table > tfoot > tr > td, .lista-tabela .table > tbody > tr > td {
    border-top: 0;
    padding: 20px 8px;
}

.lista-tabela .fa {
    color: #00A091;
    font-size: 16px;
    margin: 0 5px;
}

.lista-tabela a.disabled .fa {
    color: #B2B2B2;
    cursor: default;
}

.lista-tabela .fa.aberto {
    color: #2693FF;
}

.lista-tabela .fa:hover {
    color: #0B3333;
}

.navigation {
    font-family: 'SegoeUI-Semibold';
    font-size: 15px;
    text-align: center;
}

.pagination {
    margin: 0;
}

.pagination > li > a, .pagination > li > span {
    border: 0;
    color: #00A091;
}

.pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover, .pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover {
    background-color: #00A091;
    color: #FFFFFF;
}

.frm-busca {
    margin-top: 20px;
}

.frm-busca label {
    padding: 0 9px;
}

.frm-busca .btn {
    margin-left: 9px;
}

.input-group .form-control:first-child, .input-group-addon:first-child, .input-group-btn:first-child > .btn, .input-group-btn:first-child > .btn-group > .btn, .input-group-btn:first-child > .dropdown-toggle, .input-group-btn:last-child > .btn-group:not(:last-child) > .btn, .input-group-btn:last-child > .btn:not(:last-child):not(.dropdown-toggle) {
    border-right: 0;
}

.input-group .form-control:last-child, .input-group-addon:last-child, .input-group-btn:first-child > .btn-group:not(:first-child) > .btn, .input-group-btn:first-child > .btn:not(:first-child), .input-group-btn:last-child > .btn, .input-group-btn:last-child > .btn-group > .btn, .input-group-btn:last-child > .dropdown-toggle {
    background: transparent;
    border-color: #E9E9E9;
    border-radius: 0;
}

.form-control {
    /*border-color: #E9E9E9;
    border-radius: 0;*/
}

.input-group .fa {
    color: #A7A7A7;
}

.lista-links-importantes {
    display: inherit;
}

.lista-links-importantes figure {
    display: inherit;
}

.lista-links-importantes figure img {
    padding: 0;
    margin: 4px;
    border: 0;
    box-shadow: 2px 2px 2px #B4B4B4;
}

.lista-links-importantes figure figcaption {
    padding: 10px 0;
    font-size: 14px;
    font-family: 'SegoeUI-Semibold';
    color: #0B3333;
}

.lista-links-importantes .link-importante {
    margin: 20px 15px;
    border: 1px solid transparent;
    border-radius: 6px;
    padding: 10px;
}

.lista-links-importantes .link-importante:hover {
    border: 1px solid #0B3333;
}

.ctn-produtos, .ctn-forum, .ctn-noticias, .ctn-eventos {
    margin-bottom: 20px;
    line-height: 25px;
}

.ctn-produtos .lista-produtos .item {
    border: 1px solid #E9E9E9;
    margin-bottom: 20px;
}

.ctn-produtos .lista-produtos .item .ctn-imagem,
.lista .ctn-imagem {
    position: relative;
    overflow: hidden;
}

.ctn-produtos .lista-produtos .item .ctn-imagem img,
.lista .ctn-imagem img {
    opacity: 0.75;
}

.ctn-produtos .lista-produtos .item .detalhes-produto {
    padding: 10px;
}

.ctn-produtos .lista-produtos .item .detalhes-produto .nome-produto {
    font-family: 'SegoeUI-Semibold';
    color: #00A091;
    font-size: 14px;
}

.ctn-produtos .lista-produtos .item .detalhes-produto .descricao-produto {
    margin: 10px 0;
    min-height: 110px;
}

.ctn-produtos .lista-produtos .item:hover .ctn-imagem img,
.lista .item:hover .ctn-imagem img {
    opacity: 1;
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
}

.ctn-produtos .lista-produtos .item:hover a .detalhes-produto .descricao-produto {
    text-decoration: underline;
}

.lista,
.conteudo-interno {
    padding-top: 15px;
    margin-top: 15px;
}

.lista .item {
    margin-bottom: 15px;
    padding: 10px 10px 6px;
}

.lista .item:nth-child(odd) {
    background-color: #F4F4F4;
}

.lista .item .titulo {
    font-family: 'SegoeUI-Semibold';
    font-size: 20px;
    color: #0B3434;
}

.conteudo-interno .titulo-interno {
    font-family: 'SegoeUI-Bold';
    font-size: 20px;
    color: #0B3434;
    margin-top: 0;
}

.conteudo-interno .info,
.lista .item .info {
    font-family: 'SegoeUI-Semibold';
    color: #009F91;
    margin: 10px 0 15px;
}

.conteudo-interno .info span,
.lista .item .info span {
    color: #7DB61A;
    font-style: italic;
}

.lista .item .detalhes {
    padding: 15px;
}

.lista .item .btn {
    margin-top: 15px;
}

.lista .item:hover .detalhes p {
    text-decoration: underline;
}

.conteudo blockquote {
    display: flex;
    font-size: inherit;
    border-left: 3px solid #67D3E0;
    background-color: #E5EAEE;
}

.frm-atividade > fieldset {
    border-top: 1px solid #E9E9E9;
    border-bottom: 1px solid #E9E9E9;
    padding: 20px 0;
    margin: 20px 0;
}

.frm-atividade .form-control {
    color: #8B8B8B;
}

.frm-atividade > .linha {
    margin-bottom: 20px;
}

.frm-atividade > .linha > label {
    margin-bottom: 10px;
}

.table-forum {
    border: 1px solid #E9E9E9;
    border-top: 0;
    margin-bottom: 50px;
}

.table-forum caption {
    background-color: #26BCB5;
    color: #FFFFFF;
    padding-left: 15px;
    margin: 0 1px;
    font-family: 'SegoeUI-Semibold';
    font-size: 15px;
}

.table-forum thead {
    background-color: #C7CBD6;
    color: #FFFFFF;
    padding: 8px 15px;
}

.table-forum tbody > tr:nth-child(even), .table-forum tbody > tr > td:nth-child(even) {
    background-color: #F4F4F4;
}

.table-forum thead > tr > th {
    padding: 5px 15px;
    border: 0;
    font-weight: 100;
    font-family: 'SegoeUI-Semibold';
}

.table-forum tbody > tr > td {
    padding: 14px 8px;
    vertical-align: middle;
}

.table-forum tbody > tr > td .item-topico {
    display: flex;
}

.table-forum tbody > tr > td .item-topico .img-topico {
    margin-right: 10px;
}

.table-forum tbody > tr > td .item-topico .img-topico img {
    border: 1px solid #C7CBD6;
    padding: 2px;
}

.table-forum tbody > tr > td .item-topico .dados-topico {
    padding-top: 6px;
}

.table-forum tbody > tr > td .item-topico .dados-topico .titulo-topico {
    text-transform: uppercase;
    color: #0B3333;
    font-family: 'SegoeUI-Semibold';
    font-size: 15px;
    margin-bottom: 4px;
}

.table-forum tbody > tr > td .item-topico .dados-topico .resumo-topico {
    color: #B1B9B9;
    font-family: 'SegoeUI-Semibold';
}

.table-forum tbody > tr > td .status-topico {
    color: #939F9F;
    font-family: 'SegoeUI-Bold';
}

.table-forum tbody > tr > td .titulo-ultima-postagem {
    font-size: 14px;
}

.table-forum tbody > tr > td .autor-postagem {
    color: #A6B1B1;
}

.table-forum tbody > tr > td .autor-postagem span {
    color: #7DB61C;
}

.table-forum tbody > tr > td .data-postagem {
    color: #A6B1B1;
    font-size: 11px;
}

.documentos {
    padding-top: 15px;
}

.documentos .lista-apenas-pastas {
    background-color: #F4F4F4;
    height: 100%;
    font-size: 14px;
    border: 1px solid #E9E9E9;
    padding: 15px 0;
}

.documentos .lista-apenas-pastas ul {
    padding-left: 15px;
    list-style: none;
    margin: 0;
}

.documentos .lista-apenas-pastas ul li {
    padding: 3px 0;
    cursor: pointer;
}

.documentos .lista-apenas-pastas ul li a {
    display: block;
}

.documentos .lista-apenas-pastas .fa.fa-folder, .lista-apenas-pastas .fa.fa-folder-open {
    color: #F8B354;
}

.documentos .lista-apenas-pastas .diretorio-raiz .fa.fa-folder-open {
    color: #00A091;
}

.documentos .barra-acao {
    display: inline-block;
    width: 100%;
    font-family: 'SegoeUI-Semibold';
    border-bottom: 1px solid #E9E9E9;
    padding-bottom: 6px;
    margin-bottom: 11px;
}

.documentos .barra-acao .fa {
    font-size: 18px;
}

.documentos .barra-acao a:hover {
    color: #00A091;
}

.documentos .dropdown {
    position: relative;
    display: inline-block;
    width: 100%;
}

.documentos .dropdown .dropbtn {
    background: #FFFFFF 96% center;
    margin-top: 15px;
    width: 100%;
    text-align: left;
    border: 1px solid #E9E9E9;
    padding: 8px 12px;
    cursor: pointer;
    padding: 6px 22px 6px 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.documentos .dropdown:hover .dropbtn {
    background-color: #F5F5F5;
}

.documentos .dropdown .dropdown-content {
    display: none;
    position: absolute;
    background-color: #F4F4F4;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.documentos .dropdown .dropdown-content a {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    border-bottom: 1px solid #E9E9E9;
}

.documentos .dropdown .dropdown-content a:hover {
    background-color: #F1F1F1;
}

.documentos .dropdown:hover .dropdown-content {
    display: block;
    width: 100%;
    text-align: left;
    border: 1px solid #E9E9E9;
}

.documentos .pasta-arquivo {
    margin-bottom: 20px;
}

/* Footer */
footer {
    background-color: #7DB61C;
    color: #FFFFFF;
}

footer a, footer a:visited {
    color: #FFFFFF;
}

footer a:hover, footer a:focus, footer a:active {
    color: #FFFFFF;
}

footer .ctn-rodape {
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    align-items: center;
}

footer .ctn-rodape .navegacao-rodape a:hover, footer .ctn-rodape .navegacao-rodape a:focus, footer .ctn-rodape .navegacao-rodape a:active {
    background-color: transparent !important;
    text-decoration: underline;
}

footer .menu-rodape {
    background: #1D5A83;
}

footer .menu-rodape a {
    float: left;
}

footer .menu-rodape a:hover, footer .menu-rodape a:focus, footer .menu-rodape a:active {
    background: #0B3D65;
}

footer .dados-empresa {
    background: #2471A3;
    padding: 30px 0;
}

footer .dados-empresa .address-footer {
    padding: 9px 0;
}

footer .dados-empresa .copyright {
    padding-top: 40px;
}

@media (max-width: 767px) {
}

@media (min-width: 768px) {
    .carousel-control {
        width: 15%;
    }
}

@media (min-width: 992px) {
    .carousel-control {
        width: 10%;
    }
}

@media (min-width: 1200px) {
    .carousel-control {
        width: 9%;
    }
}

@media (min-width: 1400px) {
    .ctn-ultimas-noticias {
        width: 58.33333333%;
    }

    .ctn-cotacao-atualizada {
        width: 41.66666667%;
    }

    .carousel-control {
        width: 8%;
    }
}

@media (min-width: 1600px) {
    .ctn-ultimas-noticias {
        width: 66.66666667%;
    }

    .ctn-cotacao-atualizada {
        width: 33.33333333%;
    }

    .carousel-control {
        width: 5%;
    }
}

.comments h4 {
    font-size: 16px;
}

.comments .media:first-child {
    padding-top: 0px;
}

.comments .media {
    border-left: 1px solid #d9d9d9;
    padding-top: 10px;
    padding-bottom: 30px;
    padding-left: 5px;
}

.comments .media.replay {
    background: #e8e8e8;
    border: 1px dotted;
}

/* ALTERACOES SAMUEL EDSON */

.box{
    padding: 20px;
    border-radius: 2px;
    background: #FFFFFF;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.33);
}

.panel-heading{
    text-transform: uppercase;
    font-size: 16px;
    font-weight: bold;
}

hr{
    margin-bottom: 10px;
    margin-top: 10px;
}

.panel-custom1{
    background: white;
    border: 1px solid #c9d200;
    border-radius: 4px;
    padding: 20px 10px;
    margin: 0;
}

.content{
    padding: 20px;
}
    

.user-card {
    margin-top: 10px;
    padding: 10px 5px;
    margin-bottom: 10px;
    width: 100%;
}
.user-card .row {
    padding: 0 !important;
    margin: 0 !important;
    display: flex;
    align-items: center;
}
.user-card .photo-area {
    width: 140px;
    height: 140px;
    background-size: 140px !important;
    padding: 0 !important;
    margin: 0 !important;
    border-radius: 50%;
    border: 2px solid #ddd;
}

.card-wrapper{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}
/* .user-card .photo-area img {
    width: 100px;
    border-radius: 50%;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
} */
.user-card .info-area {
    width: calc(100% - 140px);
    min-width: 165px;
    align-items: center;
    text-align: center;
    min-height: 130px;
}
.user-card .info-area .item {
    color: #666666;
    font-size: 15px;
}
.user-card .email {
    padding-top: 10px;
    width: 100%;
    text-align: center !important;
    font-size: 12px;
}
.user-card .link {
    padding-top: 10px;
    width: 100%;
    text-align: right !important;
    font-size: 12px;
}

.box-shadow {
    box-shadow: 0 2px 1px -1px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12);
}

.mb-15 {
    margin-bottom: 15px;
}

.py-15 {
    padding-top: 15px;
    padding-bottom: 15px;
}

.box-shadow img.imgDepartament {
    max-width: 250px;
    max-height: 178px;
    min-width: 0px !important;
    min-height: 0px !important;
    border: 2px solid #ddd;
}

.custom-input {
    width: 100% !important;
}

.custom-row {
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
}

@media (min-width: 768px) {
    .div-img-departament {
        width: auto !important;
    }
}
.custom-icon {
    border: 1px solid #ccc !important;
}