<template>
	<div>
		<header-title :title="title"></header-title>

		<div class="row">
			<form @submit.prevent="submit" method="POST" class="form" enctype="multipart/form-data">
			<div class="col-sm-6">
				<div class="card">		
					<div class="card-body">
						
						<div class="form-group floating-label">
              <input type="text" 
              			 class="form-control dirty" 
              			 name="display_name" 
              			 v-model="role.display_name" 
              			 autocomplete="off" 
              			 :value="role.display_name">
              <label for="name">Nome</label>
              <span class="help-block"></span>
            </div>

            <div class="form-group floating-label">
              <input type="text" 
              			 class="form-control dirty" 
              			 name="description" 
              			 v-model="role.description" 
              			 autocomplete="off" 
              			 :value="role.description">
              <label for="description">Descrição</label>
              <span class="help-block"></span>
            </div>
					</div>
					<div class="card-actionbar style-default-light action-bar">
	          <div class="card-actionbar-row">
	          		<button type="button" @click.prevent="cancel" class="btn btn-default ink-reaction">Cancelar</button>
	              <button type="submit" class="btn btn-primary ink-reaction" v-if="!$route.params.id">Salvar</button>
	              <button type="submit" class="btn btn-primary ink-reaction" v-else>Atualizar</button>
	          </div>
	        </div>
				</div>
			</div>

			<div class="col-sm-6">
				<div class="card card-underline">		
					<div class="card-head">
						<header>Permissões</header>
					</div>
					<div class="card-body table-responsive no-padding">
						<table class="table table-hover table-app">
							<thead>
								<tr>
									<th class="text-center" width="10%">Habilitar</th>
									<th width="90%">Permissão</th>
								</tr>
							</thead>
							<tbody>
								<tr v-for="(permission, key) in permissions">
									<td class="text-center">
										<input type="checkbox" name="permissions" v-model="permission_s" :value="key" >
									</td>
									<td>
										<p v-for="p in permission">
											<input type="checkbox" v-model="permissionsSelected" :value="p.id" name="permissions"> {{p.display_name}}
										</p>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
			</form>
		</div>
	</div>
</template>

<script>
	import Header from '../partials/Header.vue'
 
	export default {
		name: 'CcUsersForm',
		components: {
			'header-title': Header,
			'pagination': require('vue-bootstrap-pagination') 
		},
		data() {
			return {
				title: '',
				role: { id: 0, display_name: '', description: '', perms: [] },
				permissions: [],
				permissionsSelected: [], permission_s: []
	    }
		},
		computed:{
			isEdit(){
				return (this.$route.params.id > 0);
			}
		},
		methods: {
			fetch(){
	    	if(this.isEdit){
		    	this.$http.get('roles/'+ this.$route.params.id +'/edit').then(res => {
		    		var data = res.data.data	    		
		    		this.role = data
		    	}) 
	  		}
			},
			submit(){
				if(this.isEdit){
					this.update()
				} else {
					this.save()
				}				
			},
			save(){
				this.$http.post('roles', this.role).then(res => {
					var data = res.data.data
					swal(
					  'Sucesso',
					  data.message,
					  'success'
					).then(() => {
						this.$router.push({ name: 'roles.index' })
					})
				})
			},
			update(){
				var id = this.role.id;
				var permissions = {'permissions': this.permissionsSelected}
				this.$http.put('roles/'+id, {...this.role, ...permissions}).then(res => {
					var data = res.data.data
					swal(
					  'Sucesso',
					  data.message,
					  'success'
					).then(() => {
						this.$router.push({ name: 'roles.index' })
					})
				})
			},
			cancel(){
				this.$router.push({ name: 'roles.index' })
			}	  },
	  mounted(){
	  	var permissions = [];
			this.fetch()

			this.$http.get('roles/permissions', this.role).then(res => {
				var data = res.data.data
				if(this.isEdit){
					
					setTimeout(() => {
						this.permissionsSelected = _.map(this.role.perms, p => {
							return p.id;
						}) 
					}, 500)
				}
				
				this.permissions = _.chunk(data, 3)
			})
	  },
		created(){
			if(this.isEdit){
				this.title = 'Editar função'
			} else {
				this.role = { id: 0, display_name: '', description: '' }
				this.title = 'Cadastrar função'
			}
		},
		watch: {
      $route: 'fetch',
    },
	}
</script>