<template>
  <div class="barra-acao">
    <ul class="list-inline pull-left" v-show="!isRoot">
      <li>
        <a href="javascript:void(0)" 
           class="transicao"
           v-show="folder"
           @click="getParent">
          <i class="fa fa-arrow-up" aria-hidden="true"></i>
          Um nível acima
        </a>
        
      </li>
      <li v-show="isAdmin">
        <a href="#" @click="showFolder=true" class="transicao">
          <i class="fa fa-plus-circle" aria-hidden="true"></i>
          Nova pasta
        </a>
      </li>
      <li v-show="isAdmin">
        <a href="#" @click="showUpload=true" class="transicao">
          <i class="fa fa-upload" aria-hidden="true"></i>
          Enviar arquivo
        </a>
      </li>
    </ul>

    <ul class="list-inline pull-right hide">
      <li>
        Exibir como: 
      </li>
      <li>
        <a href="#" class="transicao">
          <i class="fa fa-th" aria-hidden="true"></i>
        </a>
      </li>
      <li>
        <a href="#" class="transicao">
          <i class="fa fa-list" aria-hidden="true"></i>
        </a>
      </li>
    </ul>

    <upload v-if="showUpload && isAdmin" @close="closed"></upload>
    <new-folder v-if="showFolder && isAdmin" @close="showFolder=false"></new-folder>
  </div>
  
</template>

<script>
  import { mapGetters, mapActions } from 'vuex'
  import Upload from './Upload.vue'
  import NewFolder from './NewFolder.vue'

  export default{
    name: 'CcActions',
    components:{
      Upload, NewFolder
    },
    data(){
      return {
        showUpload: false,
        showFolder: false,
        parent: ''
      }
    },
    computed: {
      ...mapGetters({
          folder: 'folder',
          isAdmin: 'isAdmin'
      }),
      isRoot(){
        return this.folder == ''
      }
    },
    methods: {
      getParent(){       
        var parent = this.folder.split('/');
        parent.pop();
        //var _parent = _.nth(parent, -1);        
        this.$store.dispatch('getDocuments', parent.join('/'))

      },
      closed(){
        this.showUpload = false
      }
    },
  }
</script>