<template>
	<el-dialog title="Enviar arquivo" v-model="dialogVisible" @close="close" size="tiny">
		<el-form label-position="top" label-width="100px" :model="form">
		  <el-select v-model="form.directory" placeholder="Pasta">
		    <el-option
		      v-for="d in directories"
		      :label="d"
		      :value="d">
		    </el-option>
		  </el-select>
		</el-form>
		<p><strong>Você está em: {{ 'documents'+this.file.path }}</strong></p>
	  <span slot="footer" class="dialog-footer">
	    <el-button @click="dialogVisible = false">Cancelar</el-button>
	    <el-button type="success" @click="create">Mover</el-button>
	  </span>
	</el-dialog>
</template>

<script>
	import { mapGetters, mapActions } from 'vuex'
	export default {
		name: 'CcCopy',
		props:['file'],
		data(){
			return {
				dialogVisible: true,
				form: {
					directory: ''
				},
				directories: []
			}
		},
		computed:{
			...mapGetters({
						directories: 'directories'
				})
		},
		methods:{
			...mapActions([
				'getDirectories',
				'copy'
			]),
			create(){
				let origin = this.file.path
				let dest   = this.form.directory
				let name   = this.file.filename
				let type   = this.file.type
				//const {origin, dest, name, type} = this

				this.copy({origin, dest, name, type});

				this.dialogVisible = false
			},
			close(){
				this.$emit('close')	
			}
		},
		mounted(){
			this.getDirectories()
		}
	}
</script>