<template>
	
  <div class="ctn-arquivos">
    <div class="row">
      <div class="col-sm-4 col-md-3 col-lg-2 text-center pasta-arquivo" 
           v-for="item in documents">
        <filetype :file="item"></filetype>          
      </div>
    </div>
  </div>
</template>

<script>
  import Filetype from './Filetype.vue'
  import { mapGetters, mapActions } from 'vuex'

	export default {
		name: 'CcDocuments',
    components: {
      'filetype': Filetype
    },
    computed: {
        ...mapGetters({
            documents: 'documents'
        })
    },
    methods: {
      ...mapActions([
        'getDocuments',
        'checkAdmin'
      ])
    },
    mounted(){
      this.checkAdmin()
      this.getDocuments()
      
      
      // Efeito para manter o menu com o fundo colorido quando exibido o menu filho
      $('header #menu-navegacao ul li.dropdown').mouseover(function() {
        if($(this).children('ul').is(':visible')) {
          $(this).children('a').css({'background': '#0B3535'});
        }
      }).mouseout(function(){
        $(this).children('a').css({'background': '#7DB61C'});
      });
    }
	}
</script>
