<template>
	<div>
    <a href="javascript:void(0)" @click="clickItem(file)">
      <img :src="'/img/icones/'+file.extension+'.png'" :alt="file.filename" :title="file.filename" class="img-responsive" style="width: 117px" />
    </a>

    <div class="dropdown">
      <input type="text" 
             class="form-control dropbtn" 
             name="rename" 
             v-model="new_name" 
             v-focus="rename" 
             @blur="renameToggle" 
             @keydown.enter="renameToggle"
             v-if="rename"  
      />
      <button type="button" class="dropbtn" title="Banco" @dblclick="renameToggle" :style="backgroundNone" v-else>{{file.filename}}</button> 
      <div class="dropdown-content" v-show="folder && isAdmin">
        <a href="javascript:void(0)" class="transicao"
           @click="renameToggle">
          <i class="fa fa-pencil" aria-hidden="true"></i>
          Renomear
        </a>
        <a href="#" class="transicao"
          v-show="file.type == 'file'"
          @click="download(file)">
          <i class="fa fa-download" aria-hidden="true"></i>
          Download
        </a>
        <a href="#" @click="showCopy=true" class="transicao"
           v-show="file.type == 'file'">
          <i class="fa fa-copy" aria-hidden="true"></i>
          Copiar
        </a>
        <a href="#" @click="showMove=true" class="transicao">
          <i class="fa fa-paste" aria-hidden="true"></i>
          Mover
        </a>
        <a href="javascript:void(0)" @click.prevent="remove(file)" class="transicao">
          <i class="fa fa-trash-o" aria-hidden="true"></i>
          Apagar
        </a>
      </div>
    </div>

    <move v-if="showMove" @close="showMove=false" :file="file" class="text-left"></move>
    <copy v-if="showCopy" @close="showCopy=false" :file="file" class="text-left"></copy>
	</div>
</template>

<script>
  import { focus } from 'vue-focus';
  import { mapGetters } from 'vuex'
  import Move from './Move.vue'
  import Copy from './Copy.vue'

	export default{
		name: 'CcFiletype',
		props:{
			file: Object
		},
    components: {
      Move,
      Copy
    },
    directives: { focus: focus },
    computed: {
      ...mapGetters({
          folder: 'folder',
          isAdmin: 'isAdmin'
      }),
      isRoot(){
        return this.folder == ''
      },
      backgroundNone(){
        if(!this.isAdmin || this.isRoot){
          return {'background-image': 'none'};
        } 
        return {}
      }
    },
    data(){
      return {
        rename: false,
        showMove: false,
        showCopy: false,
        new_name: ''
      }
    },
		methods:{
      clickItem(item){  
        if(item.type == 'folder'){
          this.$store.dispatch('getDocuments', item.path);  
        } else {
          window.open('/documentos/download?path='+item.path);
        }
      },
      download(item){
        if(this.isRoot || !this.isAdmin) return false
        window.open('/documentos/download?path='+item.path);
      },
      renameToggle(event){
        if(this.isRoot || !this.isAdmin) return false
        if(this.rename){
          this.renameFile(this.new_name)
        }else {
          this.new_name = this.file.filename
        }
        this.rename = this.rename ? false : true

        
      },
      renameFile(item){
        if(this.isRoot || !this.isAdmin) return false
        if(item === ''){
          var msg = this.file.type == 'folder' ? ' a pasta' : 'o arquivo'
          var vm = this
          swal(
            'Oops...',
            'Digite um nome para '+msg+'!',
            'error'
          ).then(() => {
            vm.rename = true
          })
          return ;
        }

        this.$store.dispatch('renameDocument', {
          'original': this.file, 'target': item
        })
      },
      remove(item){
        if(this.isRoot || !this.isAdmin) return false
      	var vm = this
        swal({
				  title: 'Tem certeza que deseja excluir?',
				  type: 'warning',
				  showCancelButton: true,
				  confirmButtonColor: '#3085d6',
				  confirmButtonText: 'Sim!',
				  cancelButtonText: 'Não'
				}).then(function () {
					vm.$store.dispatch('deleteDocument', item)
				  
				})
      }
    }
		
	}
</script>