<template>
  <li class="item">
    <div
      @click="toggle"
      @dblclick="changeType">
        <i class="fa"
           :class="{ 'fa-folder': (isFolder && !open), 'fa-folder-open': (isFolder && open) }" 
           aria-hidden="true" v-if="isFolder"></i>
      {{model.name}}
    </div>

    <ul v-show="open" v-if="isFolder">
      <folders
        class="item"
        v-for="model in model.children"
        :model="model">
      </folders>
      <li class="add" @click="addChild">
        <i class="fa fa-plus"></i> Nova Pasta
      </li>
    </ul>
  </li>
</template>

<script>
	export default {
		name: 'CcFolders',
    props: {
      model: Object
    },
    data() {
      return {
        open: false
      }
    },
    computed: {
      isFolder() {
        return this.model.children &&
          this.model.children.length
      }
    },
    methods: {
      toggle() {
        if (this.isFolder) {
          this.open = !this.open
        }
      },
      changeType() {
        if (!this.isFolder) {
          Vue.set(this.model, 'children', [])
          this.addChild()
          this.open = true
        }
      },
      addChild() {
        this.model.children.push({
          name: 'new stuff'
        })
      }
    }
	}
</script>