<template>
	<div>
    <div class="fundo-branco sombra-caixa ctn-documentos">
      <h1 class="titulo-janelas">
        <i class="icomoon icon-file-text2"></i>
        <div>DOCUMENTOS</div>
      </h1>

      <div class="documentos borda-topo-cinza">
        <div class="row flexbox">

          <!-- <div class="col-sm-4 col-md-3 col-lg-2 hide">
            <div class="lista-apenas-pastas">
              <ul>
                <li class="item">
                  <div class="diretorio-raiz cor-verde">
                    <i class="fa fa-folder-open" aria-hidden="true"></i>
                    PÚBLICO
                  </div>
                  <ul>
                    <folders :model="treeData"></folders>
                  </ul>

                </li>
              </ul>
            </div>
          </div> -->

          <div class="col-xs-12">

            <actions></actions>

            <documents></documents>

          </div>
          
        </div>
      </div>
    </div>
	</div>
</template>
<script>
	import Documents from './Documents.vue'
  import Actions from './Actions.vue'
  import { mapGetters, mapActions } from 'vuex'

	export default {
		name: 'CcDocuments',
    components: {
      'documents': Documents,
      'actions': Actions
    }
	}
</script>