<template>
	<el-dialog title="Enviar arquivo" v-model="dialogVisible" @close="close" size="tiny">
		<el-form label-position="top" label-width="100px" :model="form">
		  <el-form-item label="Nome da Pasta">
		    <el-input v-model="form.name"></el-input>
		  </el-form-item>
		</el-form>
	  <span slot="footer" class="dialog-footer">
	    <el-button @click="dialogVisible = false">Cancelar</el-button>
	    <el-button type="success" @click="create">Criar</el-button>
	  </span>
	</el-dialog>
</template>

<script>
	import { mapActions } from 'vuex'

	export default {
		name: 'CcNewFolder',
		data(){
			return {
				dialogVisible: true,
				form: {
					name: ''
				}
			}
		},
		methods:{
			...mapActions([
				'createFolder'
			]),
			create(){
				this.createFolder(this.form.name);

				this.dialogVisible = false
			},
			close(){
				this.$emit('close')	
			}
		}
	}
</script>