<template>

	<el-dialog title="Enviar arquivo" v-model="dialogVisible" @close="close">
		
		<file-upload :name="name" 
						 :title="title"
						 :events="events"
						 :multiple="multiple"
						 :post-action="postAction"
						 :headers="headers"
						 class="btn btn-primary"></file-upload>

    <el-table
      :data="files"
      style="width: 100%; margin-top: 20px">
      <el-table-column
        prop="id"
        label="ID"
        width="240">
      </el-table-column>
      <el-table-column
        prop="name"
        label="Nome do Arquivo"
        width="240">
      </el-table-column>
      <el-table-column
        label="Progresso">
        <template scope="scope">
        	{{scope.row.progress}}%
        </template>
      </el-table-column>
      
    </el-table>
	  
	</el-dialog>
</template>

<script>
	import { mapGetters, mapActions } from 'vuex'
	import FileUpload from 'vue-upload-component'

	export default {
		name: 'CcUpload',
		components: {
			FileUpload
		},
    computed: {
      ...mapGetters({
          folder: 'folder'
      })
    },
		data(){
			var vm = this
			return {
				name: 'documents',
				title: 'Enviar Arquivos',
				dialogVisible: true,
				multiple: true,
      	files: [],
      	progress: 0,
      	headers: {
          'X-CSRF-TOKEN': window.Laravel.csrfToken,
    			'X-Requested-With': 'XMLHttpRequest'
        },
      	postAction: "/documentos/upload",
				events: {
		        add(file, component) {
	            component.active = true;
	            file.headers['X-Filename'] = encodeURIComponent(file.name)
	            file.data.finename = file.name
	            file.data.folder = vm.folder
	            vm.files.push(file)
		        }
		    }
			}
		},
		methods:{
			close(){
				_.each(this.files, f => {
					this.$store.dispatch('addFiles', f.response.data)
				})
				this.files = []
				this.$emit('close')
			}
		},
		mounted(){
			console.log(this.folder)
		}
	}
</script>

