<template>
	<div>
		<header-title :title="title"></header-title>
		<form @submit.prevent="submit" method="POST" class="form" enctype="multipart/form-data">
			<div class="card">		
				<div class="card-body">
					<div class="form-group floating-label">
            <thumb-upload title="Alterar Icone" action='api/forums/categories/upload' 
            							v-model="category.icon" 
            							name='icon'>
						</thumb-upload>
          </div>
					<div class="form-group floating-label">
            <input type="text" 
            			 class="form-control dirty" 
            			 name="name" 
            			 v-model="category.name" 
            			 autocomplete="off" 
            			 :value="category.name">
            <label for="name">Nome</label>
            <span class="help-block"></span>
          </div>
                    
          <div class="form-group floating-label">
            <input type="text" 
            			 class="form-control dirty" 
            			 name="name" 
            			 v-model="category.description" 
            			 autocomplete="off" 
            			 :value="category.description">
            <label for="name">Descrição</label>
            <span class="help-block"></span>
          </div>

          <div class="form-group floating-label">
            <input type="text" 
            			 class="form-control dirty" 
            			 name="sorter" 
            			 v-model="category.sorter" 
            			 autocomplete="off" 
            			 v-mask="'##'"
            			 :value="category.sorter">
            <label for="sorter">Posição</label>
            <span class="help-block"></span>
          </div>
          
          <div class="form-group floating-label">
            <label for="status">Situação</label>
            <div>
							<label class="radio-inline radio-styled">
								<input type="radio" id="1" value="1" v-model="status" @change="category.status = status" :checked="category.status == 1">
								<span>Ativo</span>
							</label>
							<label class="radio-inline radio-styled">
								<input type="radio" id="0" value="0" v-model="status"  @change="category.status = status" :checked="category.status == 0">
								<span>Inativo</span>
							</label>
						</div>
          </div>
				</div>
				<div class="card-actionbar style-default-light action-bar">
          <div class="card-actionbar-row">
          		<button type="button" @click.prevent="cancel" class="btn btn-default ink-reaction">Cancelar</button>
              <button type="submit" class="btn btn-primary ink-reaction" v-if="!$route.params.id">Salvar</button>
              <button type="submit" class="btn btn-primary ink-reaction" v-else>Atualizar</button>
          </div>
        </div>
			</div>
		</form>
	</div>
</template>

<script>
	import Header from '../../partials/Header.vue'
	import ThumbUpload from '../../components/ThumbUpload.vue'
 
	export default {
		name: 'CcForumCategoryForm',
		components: {
			'header-title': Header,
			'pagination': require('vue-bootstrap-pagination'),
			ThumbUpload
		},
		data() {
			return {
				title: '',
				category: {id: 0, name: '', description: '', icon: '', status: 1, sorter: 1},
				status: 1,
	    }
		},
		mounted(){
			this.fetch()
		},
		watch: {
      $route: 'fetch',
    },
		methods: {
			fetch(){
	    	if(this.isEdit){
		    	this.$http.get('forums/categories/'+ this.$route.params.id +'/edit').then(res => {
		    		var data = res.data.data
		    		this.category = data
		    		this.status = data.status
		    	}) 
	  		}

				if(this.isEdit){
					this.title = 'Editar categoria'
				} else {
					this.title = 'Cadastrar categoria'
				}			
			},
			submit(){
				if(this.isEdit){
					this.update()
				} else {
					this.save()
				}				
			},
			save(){
				this.$http.post('forums/categories', this.category).then(res => {
					var data = res.data.data
					this.$router.push({name: 'forum_category.index'})
					swal(
					  'Sucesso',
					  data.message,
					  'success'
					).then(() => {
						this.$bus.$emit('category.updated')
					})
				})
			},
			update(){
				var id = this.category.id;

				this.$http.put('forums/categories/'+id, this.category).then(res => {
					var data = res.data.data
					this.$router.push({name: 'forum_category.index'})
					swal(
					  'Sucesso',
					  data.message,
					  'success'
					).then(() => {
						this.$bus.$emit('category.updated')
					})
				})
			},
			cancel(){
				this.$router.push({ name: 'forum_category.index' })
			}
	  },
	  computed:{
			isEdit(){
				return (this.$route.params.id > 0);
			}
		},
	}
</script>