<template>
	<div>
		<header-title :title="title"></header-title>
		
		<div class="card">		
			<div class="card-body no-padding">
				<div class="table-responsive no-margin">
					<table class="table table-hover table-app">
						<thead>
							<tr>
								<th class="col-sm-6">Nome</th>
								<th class="col-sm-2">Posição</th>
								<th class="col-sm-2">Status</th>
								<th class="col-sm-2">Ações</th>
							</tr>
						</thead>

						<tbody>
							<tr v-for="item in items">
								<td>{{item.name}}</td>
								<td>{{item.sorter}}</td>
								<td>
									<status-view :ind_status="item.status"></status-view>
								</td>
								<td>
										<router-link :to="{ name: 'forum_category.edit', params: { id: item.id }}" class="btn ink-reaction btn-icon-toggle btn-xs btn-info" title="Editar"><i class="md md-mode-edit"></i></router-link>
										<a class="btn ink-reaction btn-icon-toggle btn-xs btn-danger" @click.prevent="destroy(item.id)" title="Remover"><i class="md md-delete"></i></a>
								</td>
							</tr>			
						</tbody>
					</table>
				</div>
			</div>
		</div>

		<pagination :pagination="pagination" :callback="getcategory" :options="paginationOptions"></pagination>
	</div>
</template>

<script>
	import Header from '../../partials/Header.vue'
	import StatusView from '../../components/StatusView.vue'
 
	export default {
		name: 'CcCategoriesTable',
		components: {
			'header-title': Header,
			'pagination': require('vue-bootstrap-pagination'),
			StatusView, 
		},
		data() {
			return {
				title: 'Lista de Categorias de Fórum',
	      items: [],
	      pagination: {
	        total: 0,
	        per_page: 20,    // required
	        current_page: 1, // required
	        last_page: 0,    // required
	        from: 1,
	        to: 12           // required
	      },
	      paginationOptions: {
	        offset: 4,
	        previousText: 'Anterior',
	        nextText: 'Próximo',
	        alwaysShowPrevNext: true
	      }
	    }
		},
		mounted() {
			this.getcategory()
			this.$bus.$on('category.updated', () => {
				this.getcategory()
			})
		},
		beforeRouteLeave(to, from, next) {
      //this.$bus.$off('navigate')
      this.$bus.$off('category.updated')
      jQuery('body').off('keyup')
      next()
    },
		methods: {
	    getcategory () {
	      let options = {
	        params: {
	          paginate: this.pagination.per_page,
	          page: this.pagination.current_page,
	        }
	      };
	      this.$http.get('forums/categories', { params: { page: this.pagination.current_page, search: '' } }).then(res => {
	      	var response = res.data.data
	      	this.items = response.data

	      	this.pagination = {
	      		total: response.total,
		        per_page: response.per_page,    // required
		        current_page: response.current_page, // required
		        last_page: response.last_page,    // required
		        from: response.from,
		        to: response.to           // required
	      	};
	      })
	    },
	    destroy(id){
	    	var vm = this
				swal({
				  title: 'Tem certeza que deseja excluir?',
				  type: 'warning',
				  showCancelButton: true,
				  confirmButtonColor: '#3085d6',
				  confirmButtonText: 'Sim!',
				  cancelButtonText: 'Não'
				}).then(function () {
					vm.$http.delete('forums/categories/'+id).then(res => {
						var data = res.data.data
						swal(
					    'Excluído',
					    data.message,
					    'success'
					  ).then(() => {
					  	vm.$bus.$emit('category.updated')
					  })	
					})
				})
	    }
	  }
	}
</script>