<template>
	<div>
		<header-title :title="title"></header-title>

		<div class="row">
			<form @submit.prevent="submit" method="POST" class="form" enctype="multipart/form-data">
			<div class="col-sm-12">
				<div class="card">		
					<div class="card-body">
						<div class="row">
							<div class="col-sm-12">
		            <div class="form-group floating-label">
		              <thumb-upload title="Enviar Banner" action='api/banners/upload' 
		              							v-model="banner.image" 
		              							name='image'>
	  							</thumb-upload>
		            </div>
								<div class="form-group floating-label">
		              <input type="text" 
		              			 class="form-control dirty" 
		              			 name="title" 
		              			 v-model="banner.title" 
		              			 autocomplete="off" 
		              			 :value="banner.title">
		              <label for="title">Título</label>
		              <span class="help-block"></span>
		            </div>

		            <div class="form-group floating-label">
		              <input type="banner_url" 
		              			 class="form-control dirty" 
		              			 name="url" 
		              			 v-model="banner.url" 
		              			 autocomplete="off" 
		              			 :value="banner.url">
		              <label for="url">URL <small>(use http:// ou https://)</small></label>
		              <span class="help-block"></span>
		            </div>

                <div class="row">
                	<div class="col-sm-3">
										<div class="form-group floating-label">
                      <date-picker v-model="banner.start_date"  placeholder="Data Ínicio"></date-picker>
                      <label for="start_date">Data Ínicio</label>
                      <span class="help-block"></span>
                    </div>
                	</div>
                	<div class="col-sm-3">
										<div class="form-group floating-label">
                      <date-picker v-model="banner.end_date" placeholder="Data Fim"></date-picker>
                      <label for="end_date">Data Fim</label>
                      <span class="help-block"></span>
                    </div>
                	</div>
                	<div class="col-sm-3">
										<div class="form-group floating-label">
			                <label for="status">Tipo</label>
			                <div>
												<label class="radio-inline radio-styled">
													<input type="radio" value="main" v-model="type" @change="banner.type = type" :checked="banner.type == 'main'">
													<span>Principal</span>
												</label>
												<label class="radio-inline radio-styled">
													<input type="radio" value="footer" v-model="type"  @change="banner.type = type" :checked="banner.type == 'footer'">
													<span>Rodapé</span>
												</label>
											</div>
											<small v-if="type == 'main'">*Imagem Principal 2000x960</small>
											<small v-else>*Imagem Rodapé 400x90</small>
			              </div>
                	</div>
                	<div class="col-sm-3">
										<div class="form-group floating-label">
			                <label for="status">Situação</label>
			                <div>
												<label class="radio-inline radio-styled">
													<input type="radio" id="1" value="1" v-model="status" @change="banner.status = status" :checked="banner.status == 1">
													<span>Ativo</span>
												</label>
												<label class="radio-inline radio-styled">
													<input type="radio" id="0" value="0" v-model="status"  @change="banner.status = status" :checked="banner.status == 0">
													<span>Inativo</span>
												</label>
											</div>
			              </div>
                	</div>
                </div>
              </div>
						</div>
					</div>
					<div class="card-actionbar style-default-light action-bar">
	          <div class="card-actionbar-row">
	          		<button type="button" @click.prevent="cancel" class="btn btn-default ink-reaction">Cancelar</button>
	              <button type="submit" class="btn btn-primary ink-reaction" v-if="!$route.params.id">Salvar</button>
	              <button type="submit" class="btn btn-primary ink-reaction" v-else>Atualizar</button>
	          </div>
	        </div>
				</div>
			</div>
			</form>
		</div>
	</div>
</template>

<script>
	import Header from '../partials/Header.vue'
	import ThumbUpload from '../components/ThumbUpload.vue'
	import Datepicker from '../components/Datepicker.vue'
 
	export default {
		name: 'CcbannersForm',
		components: {
			'header-title': Header,
			'pagination': require('vue-bootstrap-pagination'),
			'date-picker': Datepicker,
			ThumbUpload
		},
		data() {
			return {
				title: '',
				banner: { id: 0, title: '',  url:'', image: '', start_date: '', end_date: '', status: 1, type: 'main' },
				status: 1,
				type: 'main'
	    }
		},
		computed:{
			isEdit(){
				return (this.$route.params.id > 0);
			}
		},
		methods: {
			fetch(){
	    	if(this.isEdit){
		    	this.$http.get('banners/'+ this.$route.params.id +'/edit').then(res => {
		    		var data = res.data.data
		    		this.banner = data
		    		this.status = this.banner.status
		    		this.type 	= this.banner.type
		    	}) 
	  		}
			},
			submit(){
				if(this.isEdit){
					this.update()
				} else {
					this.save()
				}				
			},
			save(){
				this.$http.post('banners', this.banner).then(res => {
					var data = res.data.data
					swal(
					  'Sucesso',
					  data.message,
					  'success'
					).then(() => {
						this.$router.push({ name: 'banners.index' })
					})
				})
			},
			update(){
				var id = this.banner.id;
				
				this.$http.put('banners/'+id, this.banner).then(res => {
					var data = res.data.data
					swal(
					  'Sucesso',
					  data.message,
					  'success'
					).then(() => {
						this.$router.push({ name: 'banners.index' })
					})
				})
			},
			cancel(){
				this.$router.push({ name: 'banners.index' })
			}
	  },
	  mounted(){
			this.fetch()
	  },
		created(){
			if(this.isEdit){
				this.title = 'Editar banner'
			} else {
				this.title = 'Cadastrar banner'
			}
		},
		watch: {
      $route: 'fetch',
    },
	}
</script>