<template>
	<div>
	 	<date-picker :date="endtime" :option="option" @change="updateValue"></date-picker>

	</div>
</template>

<script>
	
	import myDatepicker from 'vue-datepicker'

	export default{
		name: 'DatePicker',
		components: {
			'date-picker': myDatepicker 
		},
		props: ['value', 'placeholder'],
		data() {
			var vm = this
			return { 
	      endtime: {
	        time: ''
	      },
	      option: {
	      	SundayFirst: true,
	        type: 'day',
	        week: ['Seg', 'Ter', 'Qua', 'Qui', 'Sex', 'Sab', 'Dom'],
	        month: ['Janeiro', 'Fevereiro', 'Março', 'Abril', 'Maio', 'Junho', 'Julho', 'Agosto', 'Setembro', 'Outubro', 'Novembro', 'Dezembro'],
	        format: 'DD/MM/YYYY',
	        placeholder: 'Selecionar a data',
	        inputStyle: {
	          'display': 'inline-block',
	          'padding': '6px',
	          'line-height': '22px',
	          'font-size': '16px',
	          'border': '0px',
	          'border-bottom': '1px solid rgba(12, 12, 12, 0.12)',
	          'color': '#5F5F5F'
	        },
	        color: {
	          header: '#3f51b5',
	          headerText: '#ffffff'
	        },
	        buttons: {
	          ok: 'Ok',
	          cancel: 'Cancelar'
	        },
	        overlayOpacity: 0.5, // 0.5 as default
	        dismissible: true // as true as default
	      },
			}
		},
		filters: {
    	formatDate: function(value, format) {
			  // slice to make a copy of array, then reverse the copy
			  var m = moment(value);
			  return value ? m.format(format) : '';
			},
  	},
  	methods:{
			updateValue(value){
				value = value.split('/').reverse().join('-')
				this.$emit('input', value)
			}
  	},
  	mounted() {
  		setTimeout(() => {
	  		//this.option.placeholder = this.placeholder 		
	  		this.endtime.time = this.$options.filters.formatDate(this.value, 'DD/MM/YYYY')
  		}, 500)
  	}
	}

</script>