<template>
	<div>
		<multiselect v-model="seleted"
	  						 :options="departaments" 
	  						 :multiple="true" 
	  						 :close-on-select="false" 
	  						 :clear-on-select="false" 
	  						 :hide-selected="true" 
	  						 @select="onSelect"
	  						 @remove="onRemove"
	  						 selectLabel="Clique ENTER para selecionar"
	  						 placeholder="Digite o departamento" 
	  						 class="form-control"
	  						 label="name" 
	  						 track-by="name">
		</multiselect>
	</div>
</template>

<script>
	export default{
		name: 'Departaments',
		props: {
			value: {required: true}
		},
		data(){
			return {
				seleted: [],
				departaments: []	
			}
		},
		methods: {
			onSelect(selectedOption){
				this.seleted.push(selectedOption)
				this.$emit('input', this.seleted)
			},
			onRemove(selectedOption){
				_.remove(this.seleted, i => i.id==selectedOption.id)
				this.$emit('input', this.seleted)
			}
		},
		mounted(){
			setTimeout(() => {
				this.seleted = this.value
				this.$http.get('departaments/combobox').then(res => {
	    		var data = res.data.data
	    		this.departaments = data
	    	})
			}, 1000)
			
		}
	}
</script>