<template>
	<div>
		<i class="md md-lens text-success" data-toggle="tooltip" data-placement="top" title="" data-original-title="Ativo" v-if="ind_status == 1"></i>
		<i class="md md-lens text-danger" data-toggle="tooltip" data-placement="top" title="" data-original-title="Inativo" v-else></i>
	</div>
</template>

<script>
	export default{
		name: 'StatusView',
		props: ['ind_status']
	}
</script>