<template>
	<div>
		<div id="summernote" v-html="value"></div>
	</div>
</template>

<script>
	export default {
		name: 'CcSummernote',
		props: ['value'],
		created(){
			var vm = this

			var config = {};
				config.minHeight = null;
				config.height = 350;

				config.callbacks = {
					onInit: function() {
						vm.$emit('input', vm.value)
					},
					onChange: function(contents, $editable) {
						vm.$emit('input', contents)
					}
				}
				setTimeout(() => {
					$('#summernote').summernote(config);
				}, 1000)
				
		},
	}
</script>