<template>
<div>
  <div class="row">
  	<div class="col-sm-12 text-center"
  			 style="margin-bottom: 10px">
			<img :src="'/images/thumb/'+value" alt="" width="200" v-if="value" />
			<img src="/images/medium/noimage.jpg" alt="" width="200" v-else />
  	</div>
  	<div class="col-sm-12 text-center">
  		<div class="progress" style="margin-top: 6px; max-width: 300px; margin: 0 auto;"
  				 v-show="progress > 0">
			  <div class="progress-bar" role="progressbar" :aria-valuenow="progress"
			  		 aria-valuemin="0" aria-valuemax="100" :style="'width:'+progress+'%'">
			    <span>{{progress}}% Completo</span>
			  </div>
			</div>
			<file-upload :name="name" 
		  						 :title="title"
		  						 :post-action="action" 
		  						 :events="events"
		  						 :multiple="multiple"
		  						 :headers="headers"
		  						 class="btn btn-primary ink-reaction"
		  						 v-show="progress == 0"></file-upload>
  	</div>
  </div>
</div>	
</template>


<script>
	import FileUpload from 'vue-upload-component'
	import Avatar from 'vue-avatar'
	import { localStorageGetItem } from '../../utils/local'

	export default {
		name: 'ThumbUpload',
		props: {
			title: {type: String, required: true},
			action: {type: String, required: true},
			name: {type: String, required: true},
			value: {required: true}
		},
		components: {
			FileUpload,
			'avatar': Avatar.Avatar,
		},
		data () {
			var vm = this
			const token = localStorageGetItem('token')
			
      return { 
      	multiple: false,
      	files: null,
      	progress: 0,
      	headers: {
          "Authorization": "Bearer "+token.token,
        },
				events: {
		        add(file, component) {
	            component.active = true;
	            file.headers['X-Filename'] = encodeURIComponent(file.name)
	            file.data.finename = file.name
	            vm.files = file
		        },
		        progress(file, component) {
		        	vm.progress = file.progress
		        },
		        after(file, component) {
		        	vm.$emit('input', file.response.data.image)
		        	vm.progress = 0
		        }
		    }
      }
    },
    methods: {
    	updateValue(value){
  			console.log(value)
    	}
    }
	}
</script>
