<template>
<div>
  <div class="row" style="margin-top: 10px">
  	<div class="col-sm-5 text-center">
			<div class="progress" style="margin-top: 6px;"
					 v-for="file in files">
			  <div class="progress-bar" role="progressbar" :aria-valuenow="file.progress"
			  aria-valuemin="0" aria-valuemax="100" :style="'width:'+file.progress+'%'">
			    <span>{{file.progress}}% Completo</span>
			  </div>
			</div>
			<file-upload :name="name" 
  						 :title="title"
  						 :post-action="action" 
  						 :events="events"
  						 :multiple="multiple"
  						 :headers="headers"
  						 class="btn btn-primary ink-reaction"
  						 v-show="files.length == 0"
		 		></file-upload>
 		</div>

  	<div class="col-sm-5">
			<div class="btn-group" data-toggle="buttons">
				<button type="button" 
								class="btn ink-reaction btn-warning"
								@click.prevent="download(value)"
								v-show="value && linkDownload">
					<i class="fa fa-download fa-fw"></i> Baixar
				</button>
				<button type="button" 
								class="btn ink-reaction btn-danger"
								@click.prevent="trash(value)"
								v-show="value && linkTrash">
					<i class="fa fa-trash fa-fw"></i> Apagar
				</button>			
			</div>
		</div>	 	
  </div>

	<input ref="image" 
				 type="hidden" 
				 class="form-control dirty" 
				 v-bind:value="value"
				 v-on:input="updateValue"
				 autocomplete="off" >
</div>	
</template>


<script>
	import FileUpload from 'vue-upload-component'
	import { localStorageGetItem } from '../../utils/local'

	export default {
		name: 'UploadFile',
		props: {
			title: {type: String, required: true},
			action: {type: String, required: true},
			name: {type: String, required: true},
			value: {required: true},
			linkDownload: {required: false},
			linkTrash: {required: false},
		},
		components: {
			FileUpload
		},
		data () {
			var vm = this
			const token = localStorageGetItem('token')
			
      return { 
      	multiple: false,
      	files: [],
      	headers: {
          "Authorization": "Bearer "+token.token,
        },
				events: {
		        add(file, component) {
	            component.active = true;
	            file.headers['X-Filename'] = encodeURIComponent(file.name)
	            file.data.finename = file.name
	            vm.files.push(file)
		        },
		        after(file, component) {
		        	if(file.success){
		        		swal(
								  'Sucesso',
								  'Arquivo enviado!',
								  'success'
								).then(() => { 
									vm.files.splice(file) 
									vm.$emit('input', file.response.data.filename)
								})
		        		return ;
		        	}

		        	swal(
							  'Oops...',
							  'Houve um erro ao subir o arquivo!',
							  'error'
							)
		        	
		        }
		    }
      }
    },
    computed:{
    	titleHtml(){
    		//return "<i class='fa fa-upload fa-fw'></i> "+this.title;
    		return this.title;
    	}
    },
    methods: {
    	download(file){
    		window.location = this.linkDownload+'/?filename='+file;
    	},
    	trash(file){
    		var vm = this

    		swal({
				  title: 'Tem certeza que deseja excluir?',
				  type: 'warning',
				  showCancelButton: true,
				  confirmButtonColor: '#3085d6',
				  confirmButtonText: 'Sim!',
				  cancelButtonText: 'Não'
				}).then(function () {
					vm.$http.delete(vm.linkTrash, {params: {filename: file}}).then(res => {
						var data = res.data.data
						vm.$emit('input', null)
						swal(
					    'Excluído',
					    'Arquivo excluído com Sucesso!',
					    'success'
					  )	
					}).catch(res => {
						swal(
					    'Error',
					    'Houve um erro ao excluir arquivo!',
					    'error'
					  )
					})
				})
    	},
    	updateValue(value){
  			console.log(value)
    	}
    }
	}
</script>
