<template>
	<div>
		<header-title :title="sub_title" :small_title="forum.title"></header-title>
		<div class="row">
			<div class="col-sm-12">
				<form @submit.prevent="submit" method="POST" class="form" enctype="multipart/form-data">
					<div class="card">		
						<div class="card-body no-padding style-primary-bright">
							<div class="row">
								<div class="col-md-3">
									<div class="force-padding">
										<div class="form-group floating-label">
                      <label for="type">Tipo</label>
                      <select v-model="forum.type" @change="changeTopic" name="type" class="form-control dirty">
                      	<option value="topic">Tópico</option>
                      	<option value="post">Postagem</option>
                      </select>
                    </div>
                    <div class="form-group floating-label" v-show="forum.type == 'post'">
                      <label for="status">Tópico</label>
                      <select v-model="forum.topic_id" name="topic_id" class="form-control dirty">
                      	<option value="">Selecione</option>
                      	<option v-for="t in topics" :value="t.id">{{t.title}}</option>
                      </select>
                    </div>
                    <div class="form-group floating-label">
                      <label for="status">Categoria</label>
                      <select v-model="forum.category_id" name="category_id" class="form-control dirty">
                      	<option v-for="c in categories" :value="c.id">{{c.name}}</option>
                      </select>
                    </div>
                    <div class="form-group floating-label">
                      <label for="status">Situação</label>
                      <select v-model="forum.status" name="status" class="form-control dirty">
                      	<option value="approved">Aprovado</option>
                      	<option value="reproved">Reprovado</option>
                      	<option value="waiting_approve">Aguardando Aprovação</option>
                      	<option value="arquived">Arquivado</option>
                      	<option value="draft">Rascunho</option>
                      </select>
                    </div>
									</div>
								</div>
								<div class="col-md-9">
									<div class="force-padding style-default-bright">
										<div class="form-group floating-label">
                      <input type="text" class="form-control dirty" name="title" v-model="forum.title" :value="forum.title">
                      <label for="title">Título</label>
                      <span class="help-block"></span>
                    </div>
                    <div class="form-group">
                      <summernote v-model="forum.content"></summernote>
                      <label for="content">Conteúdo</label>
                      <span class="help-block"></span>
                    </div>
									</div>
								</div>
							</div>
						</div>
						<div class="card-actionbar style-default-light action-bar">
              <div class="card-actionbar-row">
              		<button type="button" @click.prforum="cancel" class="btn btn-default ink-reaction">Cancelar</button>
                  <button type="submit" class="btn btn-primary ink-reaction" v-if="!$route.params.id">Salvar</button>
                  <button type="submit" class="btn btn-primary ink-reaction" v-else>Atualizar</button>
              </div>
            </div>
					</div>
				</form>
			</div>
		</div>
	</div>
</template>

<script>
	import Header from '../partials/Header.vue'
	import { mapActions } from 'vuex'
	
	import Datepicker from '../components/Datepicker.vue'

	export default {
		name: 'CcForumsForm',
		components: {
			'header-title': Header,
			'date-picker': Datepicker
		},
		data(){
			return {
				title: '',
				sub_title: '',
				forum: {id: 0, topic_id: 0, category_id: 1, title: '', content: '', type: 'topic', status: 'draft' },
				categories: [],
				topics: [],
				status: 1
			}
		},
		computed:{
			isEdit(){
				return (this.$route.params.id > 0);
			}
		},
		methods:{
			fetch(){
	    	if(this.isEdit){
		    	this.$http.get('forums/'+ this.$route.params.id +'/edit').then(res => {
		    		var data = res.data.data
						this.forum = data
		    	}) 
	  		}
			},
			submit(){
				if(this.isEdit){
					this.update();
				} else {
					this.save();
				}
			},
			save(){
				this.$http.post('forums', this.forum).then(res => {
					var data = res.data.data
					swal(
					  'Sucesso',
					  data.message,
					  'success'
					).then(() => {
						if(data.data.topic_id){
							this.$router.push({ name: 'forum.posts', params: { id: data.data.topic_id }})
						} else {
							this.$router.push({ name: 'forum.topics' })
						}
					})
				})
			},
			update(){
				var id = this.forum.id;

				this.$http.put('forums/'+id, this.forum).then(res => {
					var data = res.data.data

					swal(
					  'Sucesso',
					  data.message,
					  'success'
					).then(() => {
						if(data.data.topic_id){
							this.$router.push({ name: 'forum.posts', params: { id: data.data.topic_id }})
						} else {
							this.$router.push({ name: 'forum.topics' })
						}
					})
				})
			},
			cancel(){
				if(this.topic_id){
					this.$router.push({ name: 'forum.posts', params: { id: this.topic_id }})
				} else {
					this.$router.push({ name: 'forum.topics' })
				}
			},
			changeTopic(){
				if(this.forum.type == 'topic'){
					this.forum.topic_id = 0
				}
			}
		},
		mounted(){
 			this.fetch()
		},
		created(){
			if(this.isEdit){
				this.sub_title = 'Editar fórum'
			} else {
				this.sub_title = 'Cadastrar fórum'
			}		

			this.$http.get('forums/categories/combobox').then(res => {
    		var data = res.data.data
    		this.categories = data
    	})

    	this.$http.get('forums/topics').then(res => {
    		var data = res.data.data
    		this.topics = data
    	})	
		},
		watch: {
      $route: 'fetch',
    }
	}
</script>