<template>
	<div>
		<header-title :title="title"></header-title>
		<div class="row" v-show="false">
			<div class="col-sm-12 form">
				<div class="form-group">
					<input type="text" class="form-control" id="regular1">
					<label for="regular1">Tópico</label>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12">
				<div class="card">		
					<div class="card-body no-padding">
						<div class="table-responsive no-margin">
							<table class="table table-hover table-app">
								<thead>
									<tr>
										<th>Tópico</th>
										<th>Situação</th>
										<th>Criado em</th>
										<th>Ações</th>
									</tr>
								</thead>

								<tbody>
									<tr v-for="item in items">										
										<td>
											<a  href="#" 
													@click.prevent="openPosts(item.id)"
													title="Ver Postagens"
													v-if="item.type == 'topic'">
											{{item.title}}<br>
											{{item.total_posts}} postagens</a>
											<a  href="#" 
													@click.prevent="openPosts(item.id)"
													title="Ver Post"
													v-else>
											{{item.title}}<br>
											{{item.total_comments}} comentários</a>
										</td>
										
										<td>
											{{item.status}}
										</td>
										<td>{{item.created_at | dateFormat('DD/MM/YYYY H:mm:s') }}</td>
										<td class="text-center">
												<router-link :to="{ name: 'forum.edit', params: { id: item.id }}" class="btn ink-reaction btn-icon-toggle btn-xs btn-info" title="Editar"><i class="md md-mode-edit"></i></router-link>
												<a class="btn ink-reaction btn-icon-toggle btn-xs btn-danger" @click.prevent="destroy(item.id)" title="Remover"><i class="md md-delete"></i></a>
										</td>
									</tr>			
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-sm-12">
				<pagination :pagination="pagination" :callback="loadData" :options="paginationOptions"></pagination>
			</div>
		</div>
	</div>
</template>

<script>
	import Header from '../partials/Header.vue'
	import StatusView from '../components/StatusView.vue'
	import { mapGetters, mapActions } from 'vuex'
	import Pagination from 'vue-bootstrap-pagination'
	
	export default {
		name: 'CcForumsTable',
		components: {
			'header-title': Header,
			'pagination': require('vue-bootstrap-pagination'),
			StatusView
		},
		data() {
			return {
				title: 'Lista de Tópicos',
	      items: [],
	      pagination: {
	        total: 0,
	        per_page: 15,    // required
	        current_page: 1, // required
	        last_page: 0,    // required
	        from: 1,
	        to: 12           // required
	      },
	      paginationOptions: {
	        offset: 4,
	        previousText: 'Anterior',
	        nextText: 'Próximo',
	        alwaysShowPrevNext: true
	      }
	    }
		},
		computed:{
			isPosts(){
				return (this.$route.params.id > 0);
			}
		},
		mounted(){
			this.loadData();
		},
		methods: {
	    loadData () {
	    	var topic_id = this.isPosts ? this.$route.params.id : null
	      let options = {
	        params: { page: this.pagination.current_page, search: '', topic_id: topic_id  }
	      };
	      this.$http.get('forums', options).then(res => {
	      	var response = res.data.data
	      	this.items = response.data
	      	
	      	this.pagination = {
	      		total: response.total,
		        per_page: response.per_page,    // required
		        current_page: response.current_page, // required
		        last_page: response.last_page,    // required
		        from: response.from,
		        to: response.to           // required
	      	};
	      })
	    },
	    openPosts(id){
	    	this.$router.push({ name: 'forum.posts', params: { id: id }})
	    	this.$bus.$emit('forums.updated')
	    	this.$bus.$emit('forums.title')

	    },
	    destroy(id){
	    	var vm = this
				swal({
				  title: 'Tem certeza que deseja excluir?',
				  type: 'warning',
				  showCancelButton: true,
				  confirmButtonColor: '#3085d6',
				  confirmButtonText: 'Sim!',
				  cancelButtonText: 'Não'
				}).then(function () {
					vm.$http.delete('forums/'+id).then(res => {
						var data = res.data.data
						swal(
					    'Excluído',
					    data.message,
					    'success'
					  ).then(() => {
					  	vm.$bus.$emit('forums.updated')
					  })	
					})
				  
				})
	    }
	  },
	  mounted(){
			this.loadData();
			this.$bus.$on('forums.updated', () => {
				this.loadData()
			})
			this.$bus.$on('forums.title', () => {
				if(this.isPosts){
					this.title = 'Lista de Posts'
				} else {
					this.title = 'Lista de Tópicos'
				}	
			})
		},
		created(){
			this.$bus.$emit('forums.title')
		}
	}
</script>