<template>
<section class="contain-lgg">
	<div class="row">
	    <div class="col-lg-12">
	        <h3 class="text-primary">Dashboard</h3>
	    </div>
	</div>
</section>
</template>

<script>
    export default {
    	name: 'CcDashboard'
    }
</script>
