<template>
  <div id="base">
    <cc-top-header v-show="shouldShowNavigation"></cc-top-header>
    <div id="content">
      <cc-alerts></cc-alerts>
      <router-view></router-view>
    </div>
    <cc-menu v-show="shouldShowNavigation"></cc-menu>
  </div>
</template>

<!--style lang="sass" src="assets/sass/app.scss"></style-->

<script>
import { mapGetters } from 'vuex'
import CcMenu from './components/partials/Menu'
import CcAlerts from './components/partials/Alerts'
import CcTopHeader from './components/partials/TopHeader' 

export default {
  name: 'Sicoob',
  components: {
    CcMenu,
    CcAlerts,
    CcTopHeader
  },
  computed: {
    ...mapGetters(['shouldShowNavigation']),
  },
}
</script>
