<template>
		<div class="section-header">
        <div class="row">
            <div class="col-lg-12">
                <h2 class="text-primary pull-left">{{title}} <small>{{small_title}}</small></h2>
                <div class="pull-right" v-show="buttons">
                    <router-link v-for="b in buttons" 
                         :class="[b.class ? b.class: 'btn btn-primary ink-reaction']"
                         :to="b.route">{{b.text}}</router-link>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
	export default {
		props: ['title', 'small_title', 'buttons']
	}
</script>