<template>

    <div id="menubar" class="menubar-inverse ">
        <div class="menubar-fixed-panel">
            <div>
                <a class="btn btn-icon-toggle btn-default menubar-toggle" data-toggle="menubar" href="javascript:void(0);">
                    <i class="fa fa-bars"></i>
                </a>
            </div>
            <div class="expanded">
                <router-link to="/">
                    <span class="text-lg text-bold text-primary "><img src="/assets/img/logo.png" alt=""></span>
                </router-link>                
            </div>
        </div>
        <div class="menubar-scroll-panel">

            <!-- BEGIN MAIN MENU -->
            <ul id="main-menu" class="gui-controls">

                <!-- BEGIN DASHBOARD -->
                <li>
                    <router-link to="/">
                        <div class="gui-icon"><i class="md md-home"></i></div>
                        <span class="title">Dashboard</span>
                    </router-link>
                </li><!--end /menu-li -->
                <!-- END DASHBOARD -->

                <!-- BEGIN News -->
                <li>
                    <router-link :to="{ name: 'departaments.index' }">
                        <div class="gui-icon"><i class="fa fa-bookmark-o"></i></div>
                        <span class="title">Departamentos</span>
                    </router-link>
                    <!--start submenu -->
                </li><!--end /menu-li -->
                <!-- END News -->

                <!-- BEGIN News -->
                <li>
                    <router-link :to="{ name: 'news.index' }">
                        <div class="gui-icon"><i class="fa fa-table"></i></div>
                        <span class="title">Notícias</span>
                    </router-link>
                    <!--start submenu -->
                </li><!--end /menu-li -->
                <!-- END News -->

                <!-- BEGIN Products -->
                <li>                    
                    <router-link :to="{ name: 'products.index' }">
                        <div class="gui-icon"><i class="fa fa-cart-plus"></i></div>
                        <span class="title">Produtos</span>
                    </router-link>
                </li><!--end /menu-li -->
                <!-- END Products -->

                <!-- BEGIN Events -->
                <li>                    
                    <router-link :to="{ name: 'events.index' }">
                        <div class="gui-icon"><i class="fa fa-calendar"></i></div>
                        <span class="title">Eventos</span>
                    </router-link>
                </li><!--end /menu-li -->
                <!-- END Events -->

                <!-- BEGIN Links -->
                <li>                    
                    <router-link :to="{ name: 'links.index' }">
                        <div class="gui-icon"><i class="fa fa-link"></i></div>
                        <span class="title">Links Úteis</span>
                    </router-link>
                </li><!--end /menu-li -->
                <!-- END Links -->

                <!-- BEGIN Links -->
                <li>                    
                    <router-link :to="{ name: 'paychecks.index' }">
                        <div class="gui-icon"><i class="fa fa-file-pdf-o"></i></div>
                        <span class="title">Contracheques</span>
                    </router-link>
                </li><!--end /menu-li -->
                <!-- END Links -->

                <!-- BEGIN Links -->
                <li>                    
                    <router-link :to="{ name: 'notifications.index' }">
                        <div class="gui-icon"><i class="fa fa-comment-o"></i></div>
                        <span class="title">Notificações</span>
                    </router-link>
                </li><!--end /menu-li -->
                <!-- END Links -->

                <!-- BEGIN Links -->
                <li>                    
                    <router-link :to="{ name: 'banners.index' }">
                        <div class="gui-icon"><i class="fa fa-image"></i></div>
                        <span class="title">Banners</span>
                    </router-link>
                </li><!--end /menu-li -->
                <!-- END Links -->                

                <!-- BEGIN Links -->
                <li>                    
                    <router-link :to="{ name: 'widgets.index' }">
                        <div class="gui-icon"><i class="fa fa-rss"></i></div>
                        <span class="title">Widgets</span>
                    </router-link>
                </li><!--end /menu-li -->
                <!-- END Links -->                

                <!-- BEGIN Links -->
                <li>                    
                    <router-link :to="{ name: 'collaborators.index' }">
                        <div class="gui-icon"><i class="fa fa-user"></i></div>
                        <span class="title">Colaboradores <span style="font-size: 11px; font-style: italic;">(usuários)</span></span>
                    </router-link>
                </li><!--end /menu-li -->
                <!-- END Links -->

            </ul><!--end .main-menu -->
            <!-- END MAIN MENU -->

            <div class="menubar-foot-panel">
                <small class="no-linebreak hidden-folded">
                    <span class="opacity-75">Copyright &copy; 2017</span> <strong>CodeCovers</strong>
                </small>
            </div>
        </div><!--end .menubar-scroll-panel-->
    </div>

</template>

<script>
    export default {
        name: 'CcMenu'
        
    }
</script>