<template>
	<!-- BEGIN BLANK SECTION -->
  <div class="section-header" style="padding: 0px;">
      <div class="section-header" style="background: #F9F9F9; border-bottom: 1px solid #DADBDB; padding: 14px 15px;">
          <h2 class="pull-left"><i class="md md-description"></i> {{title}}</h2>

          <div class="pull-right" v-show="buttons">
          	<router-link v-for="b in buttons" 
               style="margin-left: 5px;"
          		 :class="[b.class ? b.class: 'btn btn-primary ink-reaction']"
          		 :to="{ name: b.route }">{{b.text}}</router-link>
        	</div>
      </div>
  </div><!--end .section-header -->
</template>

<script>
	export default {
    name: 'ModuleHeader',
		props: ['title', 'buttons']
	}
</script>