<template>
  <div class="container">
    <div class="row">
      <div class="col-md-5 col-md-offset-4 col-lg-offset-2">
        <router-view></router-view>
      </div>
    </div>
  </div>
</template>

<script>
	import { mapGetters } from 'vuex'
	export default {
		computed: {
	    	...mapGetters(['isAuthPage']),
		}
	}
</script>

