<template>
	<div>
		<header-title :title="title"></header-title>

		<div class="row">
			<form @submit.prevent="submit" method="POST" class="form" enctype="multipart/form-data">
			<div class="col-sm-6">
				<div class="card">		
					<div class="card-body">
						<div class="row">
							<div class="col-sm-12">
								<div class="form-group floating-label">
	                <label for="permission">Colaborador</label>
	                <multiselect v-model="collaboratorsSelected" 
	                						 id="user_id" label="name" 
	                						 track-by="id" 
	                						 placeholder="Digite o nome ou a matrícula" 
	                						 select-label="Aperte o ENTER para selecionar"
	                						 :value="paycheck.collaborator_id"
	                						 :options="collaborators" 
	                						 :searchable="true" 
	                						 :loading="isLoading" 
	                						 :internal-search="false" 
	                						 :options-limit="20" 
	                						 :limit="3" 
	                						 :custom-label="nameWithLang"
	                						 @input="onSelectUser"
	                						 @search-change="asyncFind">
	          						 <span slot="noResult">Oops! Nenhum registro encontrado.</span>
	    						</multiselect>
	              </div>
	              <div class="row">
		              <div class="col-sm-6">
				            <div class="form-group floating-label">
				              <select name="month"
				              				class="form-control dirty" 
				              			  v-model="paycheck.month">
				              		<option value="">Selecione o mês</option>
				              		<option v-for="i in [0,1,2,3,4,5,6,7,8,9,10,11]" 
				              					  :value="i"
				              					  :selected="paycheck.month == i">{{i | refMask}}</option>
			        			  </select>
				              <label for="month">Mês Referência</label>
				              <span class="help-block"></span>
				            </div>
			            </div>
			            <div class="col-sm-6">
			            	<div class="form-group floating-label">
					              <input type="text" 
					              			 class="form-control dirty" 
					              			 name="year" 
					              			 v-model="paycheck.year" 
					              			 autocomplete="off" 
					              			 v-mask="'####'"
					              			 :value="paycheck.year">
					              <label for="year">Ano Referência</label>
					              <span class="help-block"></span>
					            </div>
			            </div>
		            </div>

		            <div class="form-group floating-label">
		              <upload-file title="Selecione o Arquivo" 
		              						 action="/api/paychecks/upload" 
		              						 link-download="/paychecks/download" 
		              						 link-trash="/paychecks/trash" 
		              						 name="filename"
		              						 v-model="paycheck.filename">
									</upload-file>
		              <label for="filename">Arquivo</label>
		              <span class="help-block"></span>
		            </div>
							</div>
						</div>
					</div>
					<div class="card-actionbar style-default-light action-bar">
	          <div class="card-actionbar-row">
	          		<button type="button" @click.prevent="cancel" class="btn btn-default ink-reaction">Cancelar</button>
	              <button type="submit" class="btn btn-primary ink-reaction" v-if="!$route.params.id">Salvar</button>
	              <button type="submit" class="btn btn-primary ink-reaction" v-else>Atualizar</button>
	          </div>
	        </div>
				</div>
			</div>
			</form>
		</div>
	</div>
</template>

<script>
	import Header from '../partials/Header.vue'
	import UploadFile from '../components/UploadFile.vue'
 
	export default {
		name: 'CcPaychecksForm',
		components: {
			'header-title': Header,
			'pagination': require('vue-bootstrap-pagination'),
			'upload-file' : UploadFile
		},
		data() {
			return {
				title: '',
				paycheck: { id: 0, collaborator_id: 0, name: '', month: moment().month(), year: moment().year(), filename: '', status: 'PENDING'},
				status: 0,
				collaborators: [],
				collaboratorsSelected: [],
				isLoading: false
	    }
		},
		computed:{
			isEdit(){
				return (this.$route.params.id > 0);
			}
		},
		methods: {
			fetch(){
	    	if(this.isEdit){
		    	this.$http.get('paychecks/'+ this.$route.params.id +'/edit').then(res => {
		    		var data = res.data.data
		    		this.paycheck = data
		    		this.status = this.paycheck.status
		    	}) 
	  		}
			},
			submit(){
				if(this.isEdit){
					this.update()
				} else {
					this.save()
				}				
			},
			save(){
				this.$http.post('paychecks', this.paycheck).then(res => {
					var data = res.data.data
					swal(
					  'Sucesso',
					  data.message,
					  'success'
					).then(() => {
						this.$router.push({ name: 'paychecks.index' })
					})
				})
			},
			update(){
				var id = this.paycheck.id;
				
				this.$http.put('paychecks/'+id, this.paycheck).then(res => {
					var data = res.data.data
					swal(
					  'Sucesso',
					  data.message,
					  'success'
					).then(() => {
						this.$router.push({ name: 'paychecks.index' })
					})
				})
			},
			cancel(){
				this.$router.push({ name: 'paychecks.index' })
			},
	    asyncFind (query) {
	      this.isLoading = true
	      this.$http.get('collaborators/combobox', {params: {'search' : query} }).then(res => {
	      	var data = res.data.data
	        this.collaborators = data
	        this.isLoading = false
	      })
	    },
	    nameWithLang ({ name, code }) {
	    	if(name && code){
	    		return `[${code}] - ${name}`	
	    	}
	    },
	    onSelectUser(selectedOption, id){
	    	this.paycheck.collaborator_id = selectedOption.id
	    }
	  },
	  mounted(){
			this.fetch()
	  },
		created(){
			if(this.isEdit){
				this.title = 'Editar contracheque'
			} else {
				this.title = 'Cadastrar contracheque'
			}
		},
		watch: {
      $route: 'fetch',
    },
	}
</script>