<template>
<div>

	<module-title :title="title" :buttons="buttons"></module-title>
	
	<section class="contain-lgg">
		<router-view></router-view>
	</section>
</div>
</template>

<script>
	import ModuleHeader from '../partials/ModuleHeader.vue'
	import { mapGetters, mapActions } from 'vuex'
 
	export default {
		name: 'CcPaychecks',
		components: {
			'module-title': ModuleHeader
		},
		data() {
			return {
				title: 'Contracheques',
				buttons: [
					{ 'text': 'Adicionar', 'route': "paychecks.new" },
					{ 'text': 'Adicionar Multiplos', 'route': "paychecks.multiple" },
				]
	    }
		}
	}
</script>