<template>
	<div>

		<header-title :title="title"></header-title>
		<div class="row form">
			<div class="col-sm-3 col-lg-2">
					<file-upload name="filename" 
				  						 title="Selecionar arquivos"
				  						 :multiple="multiple"
				  						 :post-action="action" 
				  						 :events="events"
				  						 :headers="headers"
				  						 :files="files"
				  						 :thread="thread"
				  						 :data="data"
				  						 :extensions="extensions"
				  						 ref="upload"
				  						 class="btn btn-primary ink-reaction"
						 				></file-upload>
			</div>
			<div class="col-sm-5 col-lg-3">
				<div class="form-group floating-label">
          <select name="month"
          				class="form-control dirty" 
          			  v-model="month">
          		<option v-for="i in [0,1,2,3,4,5,6,7,8,9,10,11]" 
          					  :value="i">{{i | refMask}}</option>
  			  </select>
          <label for="email">Mês Referência</label>
          <span class="help-block"></span>
        </div>
			</div>
			<div class="col-sm-5 col-lg-3">
				<div class="form-group floating-label">
          <input type="text" 
          			 class="form-control dirty" 
          			 name="year" 
          			 v-model="year" 
          			 autocomplete="off" 
          			 v-mask="'####'"
          			 :value="year">
          <label for="email">Ano Referência</label>
          <span class="help-block"></span>
        </div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-9">
				<div class="card">		
					<div class="card-body">
						<table class="table table table-hover table-app"
						 			  v-if="files.length">
							<thead>
								<tr>
									<th width="20%">Nome do Arquivo</th>
									<th width="30%">Colaborador</th>
									<th width="40%">Progresso</th>
									<th width="10%">Ações</th>
								</tr>
							</thead>
							<tbody>
								<tr v-for="file in files">
									<td>{{ file.name }}</td>
									<td>
										<div v-if="file.success">
											{{file.response.data.collaborator.name}}
										</div>
										<div class="text-danger" v-else>
											{{file.response.messages ? file.response.messages : '--'}}
										</div>
									</td>
									<td>
										<div class="progress" style="margin-bottom: 0px; max-width: 300px">
										  <div class="progress-bar" role="progressbar" :aria-valuenow="file.progress"
										  		 aria-valuemin="0" aria-valuemax="100" :style="'width:'+file.progress+'%'">
										    <span>{{file.progress}}% Completo</span>
										  </div>
										</div>									
									</td>
									<td>
									<a href="" @click.prevent="deleteFile(file)" title="Remover arquivo">
										<i class="fa fa-trash"></i>
									</a>
									</td>
								</tr>
							</tbody>
						</table>
						<div v-else>
							<div class="alert alert-info" role="alert">
								Nenhum arquivo selecionado!
							</div>
						</div>
						<button type="bottom" class="btn ink-reaction btn-warning" @click="startUpload">Enviar Arquivo</button>
						<button type="bottom" class="btn ink-reaction btn-default" @click="paychecksList">Voltar a lista</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
	import Header from '../partials/Header.vue'
 	import FileUpload from 'vue-upload-component'
 	import { localStorageGetItem } from '../../utils/local'

	export default{
		name: 'CcMultiplePaycheks',
		components: {
			'file-upload': FileUpload,
			'header-title': Header
		},
		data(){
			const token = localStorageGetItem('token')
			var vm = this

			return {
				title: 'Envio de Múltiplos Contracheques',
				action: '/api/paychecks/upload',
				multiple: true,
				files: [],
				upload: {},
				thread: 1,
				extensions: 'pdf',
				reference: 0,
				month: moment().month(),
				year: moment().year(),
				headers: {
          "Authorization": "Bearer "+token.token,
        },
        data: {
        	multiple: true,
        	reference: 0
        },
        events: {
		        add(file, component) {
							component.active = false;
	            file.headers['X-Filename'] = encodeURIComponent(file.name)
	            file.data.finename = file.name
	            file.data.year  = vm.year
	            file.data.month = vm.month
		        },
		        before(file, component) {
		        	
		        },
		        after(file, component) {
		        	if(file.success){
		        		_.remove(vm.files, f => {
		        			return f.id == file.id;
		        		})
		        	}
		        }
		    }
			}
		},
		mounted() {
    	this.upload = this.$refs.upload.$data
  	},
		methods: {
			startUpload()
			{
				if(!this.files.length){
					swal(
					    'Ops!!!',
					    'Nenhum arquivo selecionado',
					    'error'
					  )	
					return ;
				}

				if(!this.month || !this.year){
					swal(
					    'Ops!!!',
					    'Selecione o mês de referência!',
					    'error'
					  )	
					return ;
				}

				this.$refs.upload.active = true
				
			},
			changeReference(val){
				console.log(this.$refs.upload.data.reference);
			},
			paychecksList(){
				this.$router.push({name: 'paychecks.list'})
			},
			deleteFile(file){
				var index = this.files.indexOf(file)
	      if (index != -1) {
	        this.files.splice(index, 1);
	      }
			}
		}
	}
</script>