<template>
	<div>
		<header-title :title="title"></header-title>

		<div class="row">
			<form @submit.prevent="submit" method="POST" class="form" enctype="multipart/form-data">
			<div class="col-sm-6">
				<div class="card">		
					<div class="card-body">
						<div class="row">
							<div class="form-group floating-label">
	              <input type="text" 
	              			 class="form-control dirty" 
	              			 name="name" 
	              			 v-model="link.name" 
	              			 autocomplete="off" 
	              			 :value="link.name">
	              <label for="name">Nome</label>
	              <span class="help-block"></span>
	            </div>
	            <div class="form-group floating-label">
	              <thumb-upload title="Enviar Logo" action='api/links/upload' 
	              							v-model="link.logo" 
	              							name='logo'>
  							</thumb-upload>
	            </div>

	            <div class="form-group floating-label">
	              <input type="link_url" 
	              			 class="form-control dirty" 
	              			 name="link_url" 
	              			 v-model="link.link_url" 
	              			 autocomplete="off" 
	              			 :value="link.link_url">
	              <label for="link_url">URL <small>(use http:// ou https://)</small></label>
	              <span class="help-block"></span>
	            </div>

	            <div class="form-group floating-label">
                <label for="status">Situação</label>
                <div>
									<label class="radio-inline radio-styled">
										<input type="radio" id="1" value="1" v-model="status" @change="link.status = status" :checked="link.status == 1">
										<span>Ativo</span>
									</label>
									<label class="radio-inline radio-styled">
										<input type="radio" id="0" value="0" v-model="status"  @change="link.status = status" :checked="link.status == 0">
										<span>Inativo</span>
									</label>
								</div>
              </div>

						</div>
					</div>
					<div class="card-actionbar style-default-light action-bar">
	          <div class="card-actionbar-row">
	          		<button type="button" @click.prevent="cancel" class="btn btn-default ink-reaction">Cancelar</button>
	              <button type="submit" class="btn btn-primary ink-reaction" v-if="!$route.params.id">Salvar</button>
	              <button type="submit" class="btn btn-primary ink-reaction" v-else>Atualizar</button>
	          </div>
	        </div>
				</div>
			</div>
			</form>
		</div>
	</div>
</template>

<script>
	import Header from '../partials/Header.vue'
	import ThumbUpload from '../components/ThumbUpload.vue'
 
	export default {
		name: 'CcLinksForm',
		components: {
			'header-title': Header,
			'pagination': require('vue-bootstrap-pagination') ,
			ThumbUpload
		},
		data() {
			return {
				title: '',
				link: { id: 0, name: '', link_url: '', logo: '', status: 1 },
				status: 1,
	    }
		},
		computed:{
			isEdit(){
				return (this.$route.params.id > 0);
			}
		},
		methods: {
			fetch(){
	    	if(this.isEdit){
		    	this.$http.get('links/'+ this.$route.params.id +'/edit').then(res => {
		    		var data = res.data.data
		    		this.link = data
		    		this.status = this.link.status
		    	}) 
	  		}
			},
			submit(){
				if(this.isEdit){
					this.update()
				} else {
					this.save()
				}				
			},
			save(){
				this.$http.post('links', this.link).then(res => {
					var data = res.data.data
					swal(
					  'Sucesso',
					  data.message,
					  'success'
					).then(() => {
						this.$router.push({ name: 'links.index' })
					})
				})
			},
			update(){
				var id = this.link.id;
				
				this.$http.put('links/'+id, this.link).then(res => {
					var data = res.data.data
					swal(
					  'Sucesso',
					  data.message,
					  'success'
					).then(() => {
						this.$router.push({ name: 'links.index' })
					})
				})
			},
			cancel(){
				this.$router.push({ name: 'links.index' })
			}
	  },
	  mounted(){
			this.fetch()
	  },
		created(){
			if(this.isEdit){
				this.title = 'Editar link'
			} else {
				this.link = { id: 0, name: '', link_url: '', logo: '', status: 1 }
				this.title = 'Cadastrar link'
			}
		},
		watch: {
      $route: 'fetch',
    },
	}
</script>