<template>
	<div>
		<header-title :title="sub_title" :small_title="documents.title"></header-title>
		<div class="row">
			<div class="col-sm-10 col-sm-offset-1 col-xs-offset-0 col-xs-12"> 
				<form @submit.prevent="submit" method="POST" class="form" enctype="multipart/form-data">
					<div class="card">			
						<div class="card-body">
							<div class="row" style="margin-bottom: 12px;">
								<div class="col-sm-12">
									<file-upload :name="name" 
															 :title="title_btn"
															 :post-action="action" 
															 :events="events"
															 :multiple="multiple"
															 :headers="headers"
															  ref="docs"
															 class="btn btn-primary ink-reaction"									 
										 		></file-upload>
									
									<button v-show="files.length > 0" 
												  @click.prevent="startUpload" 
												  type="button"
												  class="btn ink-reaction btn-info"
												  :disabled="docs.active">Enviar arquivos</button>

							 		<router-link :to="{ name: 'documents.list'}" 
							 								 class="btn ink-reaction btn-default-light">Voltar</router-link> 
						 		</div>
						 	</div>
						 	
							<div class="row" v-if="files.length > 0">
								<div class="col-md-12">
									<table class="table table-condensed no-margin">
										<thead>
											<tr>
												<th>Arquivo</th>
												<th>Progresso</th>
												<th>Ações</th>
											</tr>
										</thead>
										<tbody>
											<tr v-for="(file, key) in files">
												<td>{{ file.name }}</td>
												<td>
													<div class="progress" style="margin-top: 6px; max-width: 300px;">
													  <div class="progress-bar" role="progressbar" :aria-valuenow="file.progress"
													  aria-valuemin="0" aria-valuemax="100" :style="'width:'+file.progress+'%'">
													    <span>{{file.progress}}% Completo</span>
													  </div>
													</div>
												</td>
												<td>
													<a class="btn ink-reaction btn-icon-toggle btn-xs btn-danger" @click.prevent="destroy(file, key)" title="Remover"><i class="md md-delete"></i></a>
												</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
							<div class="row">
								<div class="col-sm-12">
		              <!--div class="form-group floating-label">
		                <label for="status">Situação</label>
		                <div>
											<label class="radio-inline radio-styled">
												<input type="radio" id="1" value="1" v-model="status" @change="documents.status = status" :checked="documents.status == 1">
												<span>Ativo</span>
											</label>
											<label class="radio-inline radio-styled">
												<input type="radio" id="0" value="0" v-model="status"  @change="documents.status = status" :checked="documents.status == 0">
												<span>Inativo</span>
											</label>
										</div>
		              </div-->
		              <div class="form-group  floating-label">
		                <label for="page_id">Departamentos</label>
		                <div>
		          			  <departaments v-model="documents.departaments"></departaments>
		                </div>
		                <span class="help-block"></span> 
		              </div>
	              </div>
              </div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</template>

<script>
	import Header from '../partials/Header.vue'
	import ThumbUpload from '../components/ThumbUpload.vue'
	import Departaments from '../components/Departaments.vue'
	import FileUpload from 'vue-upload-component'
	import { localStorageGetItem } from '../../utils/local'

	export default {
		name: 'CcDocumentsForm',
		components: {
			'header-title': Header,
			Departaments, FileUpload
		},
		data(){
			
			var vm = this
			const token = localStorageGetItem('token')

			return {
				title: 'Notícias',
				sub_title: 'Enviar documentos',
				documents: {departaments: []},
				permission: 'public',

				docs: {},
				title: 'Arquivos',
				title_btn: 'Selecionar Arquivos',
				photos: [],
				name: 'documents',
				action: '/api/documents/upload',
				multiple: true,
				files: [],
				headers: {
          "Authorization": "Bearer "+token.token,
        },
				events: {
	        add(file, component) {
	        	if (this.auto) {
            	component.active = true;
          	}	
            file.headers['X-Filename'] = encodeURIComponent(file.name)
            file.data.finename = file.name
            file.data.data = vm.documents

            vm.files.push(file)
	        },
	        after(file, component) {
	        	if(file.success){
	        		file.id = file.response.data.id
	        		return ;
	        	}
	        	swal(
						  'Oops...',
						  'Houve um erro ao subir o arquivo!',
						  'error'
						)
	        }
		    }
			}
		},
		methods:{
			submit(){
				
			},
			cancel(){
				this.$router.push({ name: 'documents.index' })
			},
			startUpload(){
				if(this.documents.departaments.length){
					this.docs.active = true	
					return ;
				}
				swal(
						  'Oops...',
						  'Selecione um departamento!',
						  'error'
						)
				
			},
	    destroy(file, key){
	    	var vm = this
	    	var id = file.id


	    	if(!file.success){
	    		Vue.delete(vm.files, key);
	    	} else {
					swal({
					  title: 'Tem certeza que deseja excluir?',
					  type: 'warning',
					  showCancelButton: true,
					  confirmButtonColor: '#3085d6',
					  confirmButtonText: 'Sim!',
					  cancelButtonText: 'Não'
					}).then(function () {
						vm.$http.delete('documents/'+id).then(res => {
							var data = res.data.data
							swal(
						    'Excluído',
						    data.message,
						    'success'
						  ).then(() => {
						  	Vue.delete(vm.files, key);
						  	vm.$bus.$emit('documents.updated')
						  })	
						})
					})	    		
	    	}

	    }
		},
	  mounted() {
	    this.docs = this.$refs.docs.$data
	  },
	}
</script>