<template>

	<li v-if="!model.deleted">
		<div class="card">
			<div class="comment-avatar"><i class="glyphicon glyphicon-user opacity-50"></i></div>
			<div class="card-body">
				<h4 class="comment-title">{{model.autor}} <small>{{model.created_at}}</small></h4>
				<a href="javascript:void(0)"
					 @click="changeStatus(model.id, 1)"
					 class="btn btn-sm btn-primary stick-top-right"
					 v-if="(model.status == 0)">Aprovar</a>
				<a href="javascript:void(0)"
					 @click="changeStatus(model.id, 0)"
					 class="btn btn-xs btn-default stick-top-right"
					 v-else>Reprovar</a>

				<a href="javascript:void(0)"
					 class="btn btn-xs btn-default stick-bottom-right"
					 @click="destroy(model.id)">
					 	<i class="fa fa-trash"></i>
					 </a>
				<p>{{model.comments}}</p>
			</div>
		</div><!--end .card -->
		<ul v-show="model.replays">
			<comments v-for="replay in model.replays"
							:model="replay"	></comments>
		</ul>
	</li><!-- end comment -->
</template>

<script>
	import Header from '../partials/Header.vue'
	export default {
		name: 'CcNewsComments',
		props: ['model'],
		components: {
			'header-title': Header
		},
		data(){
			return {
				title: 'Comentários',
				sub_title: ''
			}
		},
		methods: {
			changeStatus(id, status){
				this.$http.put('/news/comments/'+id, {status: status}).then(res => {
					var data = res.data.data
					this.model.status = status
				});
			},
			destroy(id){
				var vm = this
				
				swal({
				  title: 'Tem certeza que deseja excluir?',
				  type: 'warning',
				  showCancelButton: true,
				  confirmButtonColor: '#3085d6',
				  confirmButtonText: 'Sim!',
				  cancelButtonText: 'Não'
				}).then(function () {
					vm.$http.delete('/news/comments/'+id).then(res => {
						var data = res.data.data
						swal(
					    'Excluído',
					    data.message,
					    'success'
					  ).then(() => {
					  	Vue.set(vm.model, 'deleted', true)
					  })	
					})
				})
			}
		}
	}
</script>