<template>
	<div>
		<header-title :title="sub_title" :small_title="news.title"></header-title>
		<div class="row">
			<div class="col-sm-12">
				<form @submit.prevent="submit" method="POST" class="form" enctype="multipart/form-data">
					<div class="card">		
						<div class="card-body no-padding style-primary-bright">
							<div class="row">
								<div class="col-md-3">
									<div class="force-padding">
										<div class="form-group floating-label">
                      <thumb-upload title="Alterar Foto" action='api/news/upload' 
				              							v-model="news.image_feacture" 
				              							name='image_feacture'>
			  							</thumb-upload>
                    </div>
                    <div class="form-group floating-label">
                      <label for="permission">Permissão</label>
											<select class="form-control" name="permission" v-model="permission" @change="news.permission = permission">
												<option value="public" :selected="news.permission == 'public'">Público</option>
												<option value="private" :selected="news.permission == 'private'">Privado</option>
												<!--option value="grouped" :selected="news.permission == 'grouped'">Grupo</option-->
											</select>
                    </div>
                    <div class="form-group floating-label">
                      <label for="status">Situação</label>
                      <div>
												<label class="radio-inline radio-styled">
													<input type="radio" id="1" value="1" v-model="status" @change="news.status = status" :checked="news.status == 1">
													<span>Ativo</span>
												</label>
												<label class="radio-inline radio-styled">
													<input type="radio" id="0" value="0" v-model="status"  @change="news.status = status" :checked="news.status == 0">
													<span>Inativo</span>
												</label>
											</div>
                    </div>
									</div>
								</div>
								<div class="col-md-9">
									<div class="force-padding style-default-bright">
										<div class="form-group floating-label">
                      <input type="text" class="form-control dirty" name="title" v-model="news.title">
                      <label for="title">Título</label>
                      <span class="help-block"></span>
                    </div>
                    <div class="form-group">
                      <textarea class="form-control" name="description" rows="2" maxlength="160" :value="news.description"  v-model="news.description"></textarea>
                      <label for="description">Descrição</label>
                      <span class="help-block"></span>
                    </div>
                    <div class="form-group">
                      <summernote v-model="news.content"></summernote>
                      <label for="content">Conteúdo</label>
                      <span class="help-block"></span>
                    </div>
                    <div class="row">
                    	<div class="col-sm-4">
												<div class="form-group floating-label">
                          <date-picker v-model="news.start_date"  placeholder="Data Ínicio"></date-picker>
                          <label for="start_date">Data Ínicio</label>
                          <span class="help-block"></span>
                        </div>
                    	</div>
                    	<div class="col-sm-3">
												<div class="form-group floating-label">
                          <date-picker v-model="news.end_date" placeholder="Data Fim"></date-picker>
                          <label for="end_date">Data Fim</label>
                          <span class="help-block"></span>
                        </div>
                    	</div>
                    </div>
                    <div class="row">
	                    <div class="col-sm-12">
		                    <div class="form-group  floating-label">
			                    <label for="page_id">Departamentos</label>
			                    <div>
			              			  <departaments v-model="news.departaments"></departaments>
			                    </div>
			                    <span class="help-block"></span>
			                  </div>
	                    </div>
                    </div>
									</div>
								</div>
							</div>
						</div>
						<div class="card-actionbar style-default-light action-bar">
              <div class="card-actionbar-row">
              		<button type="button" @click.prevent="cancel" class="btn btn-default ink-reaction">Cancelar</button>
                  <button type="submit" class="btn btn-primary ink-reaction" v-if="!$route.params.id">Salvar</button>
                  <button type="submit" class="btn btn-primary ink-reaction" v-else>Atualizar</button>
              </div>
            </div>
					</div>
				</form>
			</div>
		</div>

		<div class="row"
				 v-show="news.id">
			<div class="col-md-9">
				<h4>Comentários</h4>
				<ul class="list-comments">
					<comments v-for="comment in comments"
					 					:model="comment"></comments>
				</ul>
			</div>
		</div>
	</div>
</template>

<script>
	import Header from '../partials/Header.vue'
	import { mapActions } from 'vuex'
	import ThumbUpload from '../components/ThumbUpload.vue'
	import Departaments from '../components/Departaments.vue'
	import Datepicker from '../components/Datepicker.vue'

	export default {
		name: 'CcNewsForm',
		components: {
			'header-title': Header,
			'date-picker': Datepicker,
			ThumbUpload, Departaments
		},
		data(){
			return {
				title: 'Notícias',
				sub_title: '',
				news: {id: 0, title: '', description: '', content: '', departaments: [], permission: 'public', start_date: moment().format('YYYY-MM-DD'), end_date: null, status: 1 },
				permission: 'public',
				comments: [],
				status: 1,
			}
		},
		computed:{
			isEdit(){
				return (this.$route.params.id > 0);
			}
		},
		methods:{
			submit(){
				if(this.isEdit){
					this.update();
				} else {
					this.save();
				}
			},
			save(){

				this.$http.post('news', this.news).then(res => {
					var data = res.data.data
					this.$router.push({name: 'news.list'})
					swal(
					  'Sucesso',
					  data.message,
					  'success'
					)
				})
			},
			update(){
				var id = this.news.id;

				this.$http.put('news/'+id, this.news).then(res => {
					var data = res.data.data
					this.$router.push({name: 'news.list'})
					swal(
					  'Sucesso',
					  data.message,
					  'success'
					)
				})
			},
			cancel(){
				this.$router.push({ name: 'news.index' })
			}
		},
		mounted(){
			var vm = this
 			if(this.isEdit){
 				this.$http.get('news/'+this.$route.params.id+'/edit').then(res => {
 					var response = res.data
 					vm.news = response.data
 					vm.news.departaments = vm.news.news_departaments.map(d =>{
 						return {'id': d.pivot.departament_id, 'name': d.name, 'slug': d.slug}
 					})
 					vm.permission = vm.news.permission

 					vm.status = response.data.status
 				})

 				this.$http.get('news/comments', {params: { new_id: this.$route.params.id }}).then(res => {
					var data = res.data.data
					this.comments = data
				})
 			}
		},
		created(){
			if(this.isEdit){
				this.sub_title = 'Editar notícia'
			} else {
				this.sub_title = 'Cadastrar notícia'
			}		
		}
	}
</script>