<template>
<div>
	<header-title :title="title"></header-title>
	<div class="row" style="margin-bottom: 12px;">
		<div class="col-sm-12">
			<file-upload :name="name" 
									 :title="title_btn"
									 :post-action="action" 
									 :events="events"
									 :multiple="multiple"
									 :headers="headers"
									 class="btn btn-primary ink-reaction"									 
				 		></file-upload>
	 		<router-link :to="{ name: 'news.list'}" 
	 								 class="btn ink-reaction btn-default-light">Voltar</router-link> 
 		</div>
 	</div>
	<div class="row" v-if="files.length > 0">
		<div class="col-md-2"
				 v-for="(file, key) in files">
			<div class="card"
					 :style="{ backgroundImage: 'url('+(file.success ? '/images/original/'+ file.image : '')+')', minHeight: '178px', backgroundRepeat: 'no-repeat', backgroundSize: '100% auto' }">
				<div class="card-head">
					<div class="tools">
						<div class="btn-group">
							<a href="javascript:void(0)" 
								 :title="key"
								 class="btn btn-icon-toggle btn-close" 
								 @click.prevent="removeImage(key, file)">
								 <i class="md md-close"></i>
							</a>
						</div>
					</div>
				</div><!--end .card-head -->
				<div class="card-body text-center">
					<div class="progress" style="margin-top: 6px;"
							 v-if="file.progress < 100">
					  <div class="progress-bar" role="progressbar" :aria-valuenow="file.progress"
					  aria-valuemin="0" aria-valuemax="100" :style="'width:'+file.progress+'%'">
					    <span>{{file.progress}}% Completo</span>
					  </div>
					</div>
				</div><!--end .card-body -->
			</div><!--end .card -->
		</div>
	</div>
</div>
</template>

<script>
	import FileUpload from 'vue-upload-component'
	import Header from '../partials/Header.vue'
	import { localStorageGetItem } from '../../utils/local'

	export default {
		name: 'CcNewsPhoto',
		components: {
			'header-title': Header,
			FileUpload
		},
		data(){
			var vm = this
			const token = localStorageGetItem('token')

			return {
				title: 'Galeria de fotos',
				title_btn: 'Selecionar Fotos',
				photos: [],
				name: 'image',
				action: '/api/news/photos/upload',
				multiple: true,
				files: [],
				headers: {
          "Authorization": "Bearer "+token.token,
        },
				events: {
	        add(file, component) {
            component.active = true;
            file.headers['X-Filename'] = encodeURIComponent(file.name)
            file.data.finename = file.name
            file.data.new_id = vm.$route.params.id
            vm.files.push(file)
	        },
	        after(file, component) {
	        	if(file.success){
	        		file.image = file.response.data.photo.image
	        		return ;
	        	}
	        	swal(
						  'Oops...',
						  'Houve um erro ao subir o arquivo!',
						  'error'
						)
	        }
		    }

			}
		},
		methods: {
			removeImage(key, file){
	    	var vm = this
	    	var id = file.response ? file.response.data.photo.id : file.id
	    	
				swal({
				  title: 'Tem certeza que deseja excluir?',
				  type: 'warning',
				  showCancelButton: true,
				  confirmButtonColor: '#3085d6',
				  confirmButtonText: 'Sim!',
				  cancelButtonText: 'Não'
				}).then(function () {
					vm.$http.delete('news/photos/'+id).then(res => {
						var data = res.data.data
						swal(
					    'Excluído',
					    data.message,
					    'success'
					  ).then(() => {
					  	Vue.delete(vm.files, key);
					  })	
					})
				})
			}
		},
		mounted(){
			var new_id = this.$route.params.id
			this.$http.get('news/photos', { params: {new_id: new_id} }).then(res => {
				var data = res.data.data
				this.files = _.map(data, f => {
					return {...f, success: true}
				})
			})
		}
	}
</script>