<template>
	<div>
		<header-title :title="title"></header-title>
		<form @submit.prevent="submit" method="POST" class="form" enctype="multipart/form-data">
			<div class="card">		
				<div class="card-body">
          <div class="form-group floating-label">
      			<textarea name="message" 
      							  class="form-control dirty" 
      							  v-model="notification.message">

					  </textarea>
            <label for="name">Mensagem</label>
            <span class="help-block"></span>
          </div>

          <div class="form-group floating-label">
            <date-picker v-model="notification.date_expired"  placeholder="Data Ínicio"></date-picker>
            <label for="start_date">Expirar em</label>
            <span class="help-block"></span>
          </div>
          
          <div class="form-group floating-label">
            <label for="status">Situação</label>
            <div>
							<label class="radio-inline radio-styled">
								<input type="radio" id="1" value="1" v-model="status" @change="notification.status = status" :checked="notification.status == 1">
								<span>Ativo</span>
							</label>
							<label class="radio-inline radio-styled">
								<input type="radio" id="0" value="0" v-model="status"  @change="notification.status = status" :checked="notification.status == 0">
								<span>Inativo</span>
							</label>
						</div>
          </div>
				</div>
				<div class="card-actionbar style-default-light action-bar">
          <div class="card-actionbar-row">
          		<button type="button" @click.prevent="cancel" class="btn btn-default ink-reaction">Cancelar</button>
              <button type="submit" class="btn btn-primary ink-reaction" v-if="!$route.params.id">Salvar</button>
              <button type="submit" class="btn btn-primary ink-reaction" v-else>Atualizar</button>
          </div>
        </div>
			</div>
		</form>
	</div>
</template>

<script>
	import Header from '../partials/Header.vue'
	import Datepicker from '../components/Datepicker.vue'
 
	export default {
		name: 'CcNotificationsForm',
		components: {
			'header-title': Header,
			'pagination': require('vue-bootstrap-pagination'),
			'date-picker': Datepicker,
		},
		data() {
			return {
				title: '',
				notification: {id: 0, message: '', date_expired: '', status: 1},
				status: 1,
	    }
		},
		mounted(){
			this.fetch()
		},
		watch: {
      $route: 'fetch',
    },
		methods: {
			fetch(){
	    	if(this.isEdit){
		    	this.$http.get('notifications/'+ this.$route.params.id +'/edit').then(res => {
		    		var data = res.data.data
		    		this.notification = data
		    		this.status = data.status
		    	}) 
	  		}

				if(this.isEdit){
					this.title = 'Editar notificação'
				} else {
					this.title = 'Cadastrar notificação'
				}			
			},
			submit(){
				if(this.isEdit){
					this.update()
				} else {
					this.save()
				}				
			},
			save(){
				this.$http.post('notifications', this.notification).then(res => {
					var data = res.data.data
					this.$router.push({name: 'notifications.index'})
					swal(
					  'Sucesso',
					  data.message,
					  'success'
					).then(() => {
						this.$bus.$emit('notifications.updated')
					})
				})
			},
			update(){
				var id = this.notification.id;

				this.$http.put('notifications/'+id, this.notification).then(res => {
					var data = res.data.data
					this.$router.push({name: 'notifications.index'})
					swal(
					  'Sucesso',
					  data.message,
					  'success'
					).then(() => {
						this.$bus.$emit('notifications.updated')
					})
				})
			},
			cancel(){
				this.$router.push({ name: 'notifications.index' })
			}
	  },
	  computed:{
			isEdit(){
				return (this.$route.params.id > 0);
			}
		},
	}
</script>