<template>
	<div>
		<header-title :title="title"></header-title>
		<form @submit.prevent="submit" method="POST" class="form" enctype="multipart/form-data">
			<div class="card">		
				<div class="card-body">
					<div class="form-group floating-label">
            <input type="text" 
            			 class="form-control" 
            			 :class="{dirty: widget.name}"
            			 name="name" 
            			 v-model="widget.name" 
            			 autocomplete="off" 
            			 :value="widget.name">
            <label for="name">Nome</label>
            <span class="help-block"></span>
          </div>
          <div class="form-group floating-label">
            <textarea class="form-control" name="widget" rows="5" :class="{dirty: widget.name}" :value="widget.widget"  v-model="widget.widget"></textarea>
            <label for="description">Código Widget</label>
            <span class="help-block">Sugestão: <a href=" https://www.noticiasagricolas.com.br/widgets/" target="_blank">https://www.noticiasagricolas.com.br/widgets/</a></span>
          </div>


          <div class="form-group floating-label">
            <label for="status">Situação</label>
            <div>
							<label class="radio-inline radio-styled">
								<input type="radio" id="1" value="1" v-model="widget.status">
								<span>Ativo</span>
							</label>
							<label class="radio-inline radio-styled">
								<input type="radio" id="0" value="0" v-model="widget.status">
								<span>Inativo</span>
							</label>
						</div>
          </div>
				</div>
				<div class="card-actionbar style-default-light action-bar">
          <div class="card-actionbar-row">
          		<button type="button" @click.prevent="cancel" class="btn btn-default ink-reaction">Cancelar</button>
              <button type="submit" class="btn btn-primary ink-reaction" v-if="!$route.params.id">Salvar</button>
              <button type="submit" class="btn btn-primary ink-reaction" v-else>Atualizar</button>
          </div>
        </div>
			</div>
		</form>
	</div>
</template>

<script>
	import Header from '../partials/Header.vue'
 
	export default {
		name: 'CcWidgetsForm',
		components: {
			'header-title': Header,
			'pagination': require('vue-bootstrap-pagination') 
		},
		data() {
			return {
				title: '',
				widget: {id: 0, name: '', widget: '', status: 1},
				status: 1
	    }
		},
		created(){
			this.fetch()
		},
		watch: {
      $route: 'fetch',
    },
		methods: {
			fetch(){
	    	if(this.isEdit){
		    	this.$http.get('widgets/'+ this.$route.params.id +'/edit').then(res => {
		    		var data = res.data.data
		    		this.widget = data
		    	}) 
	  		}

				if(this.isEdit){
					this.title = 'Editar widgets'
				} else {
					this.widget = {id: 0, name: ''}
					this.title = 'Cadastrar widgets'
				}			
			},
			submit(){
				if(this.isEdit){
					this.update()
				} else {
					this.save()
				}				
			},
			save(){
				this.$http.post('widgets', this.widget).then(res => {
					var data = res.data.data
					this.$router.push({name: 'widgets.index'})
					swal(
					  'Sucesso',
					  data.message,
					  'success'
					).then(() => {
						this.$bus.$emit('widget.updated')
					})
				})
			},
			update(){
				var id = this.widget.id;

				this.$http.put('widgets/'+id, this.widget).then(res => {
					var data = res.data.data
					this.$router.push({name: 'widgets.index'})
					swal(
					  'Sucesso',
					  data.message,
					  'success'
					).then(() => {
						this.$bus.$emit('widget.updated')
					})
				})
			},
			cancel(){
				this.$router.push({ name: 'widgets.index' })
			}
	  },
	  computed:{
			isEdit(){
				return (this.$route.params.id > 0);
			}
		},
	}
</script>