<template>
<div>

	<module-title :title="title" :buttons="buttons"></module-title>
	
	<section class="contain-lgg">
		
		<div class="row">
			<div class="col-md-6">
				<table-list></table-list>
			</div>
			<div class="col-md-6">
				<router-view></router-view>
			</div>
		</div>
	</section>
</div>
</template>

<script>
	import ModuleHeader from '../partials/ModuleHeader.vue'
	import TableList from './Table.vue'
 
	export default {
		name: 'CcWidgets',
		components: {
			'module-title': ModuleHeader,
			'table-list': TableList
		},
		data() {
			return {
				title: 'Widgets',
				buttons: [{ route: 'widgets.new', text: 'Novo' }]
	    }
		}
	}
</script>