<template>
	<div>
		<header-title :title="title"></header-title>

		<div class="row">
			<form @submit.prevent="submit" method="POST" class="form" enctype="multipart/form-data">
			<div class="col-sm-12">
				<div class="card">		
					<div class="card-body no-padding">
						<div class="row">
							<div class="col-sm-3">
								<div class="force-padding">
									<div class="form-group floating-label">
			              <thumb-upload title="Imagem destaque" action='api/products/upload' 
			              							v-model="product.image_feacture" 
			              							name='image_feacture'>
		  							</thumb-upload>
			            </div>

			            <div class="form-group floating-label">
		                <label for="status">Situação</label>
		                <div>
											<label class="radio-inline radio-styled">
												<input type="radio" id="1" value="1" v-model="status" @change="product.status = status" :checked="product.status == 1">
												<span>Ativo</span>
											</label>
											<label class="radio-inline radio-styled">
												<input type="radio" id="0" value="0" v-model="status"  @change="product.status = status" :checked="product.status == 0">
												<span>Inativo</span>
											</label>
										</div>
		              </div>
	              </div>
							</div>
							<div class="col-sm-9">
								<div class="force-padding style-default-bright">
									<div class="form-group floating-label">
			              <input type="text" 
			              			 class="form-control dirty" 
			              			 name="name" 
			              			 v-model="product.title" 
			              			 autocomplete="off" 
			              			 :value="product.title">
			              <label for="name">Título</label>
			              <span class="help-block"></span>
			            </div>
			            <div class="form-group floating-label">
		      				  <summernote v-model="product.content"></summernote>
			              <label for="name">Conteúdo</label>
			              <span class="help-block"></span>
			            </div>
		            </div>
              </div>
						</div>
					</div>
					<div class="card-actionbar style-default-light action-bar">
	          <div class="card-actionbar-row">
	          		<button type="button" @click.prevent="cancel" class="btn btn-default ink-reaction">Cancelar</button>
	              <button type="submit" class="btn btn-primary ink-reaction" v-if="!$route.params.id">Salvar</button>
	              <button type="submit" class="btn btn-primary ink-reaction" v-else>Atualizar</button>
	          </div>
	        </div>
				</div>
			</div>
			</form>
		</div>
	</div>
</template>

<script>
	import Header from '../partials/Header.vue'
	import ThumbUpload from '../components/ThumbUpload.vue'
	
	export default {
		name: 'CcProductsForm',
		components: {
			'header-title': Header,
			'pagination': require('vue-bootstrap-pagination') ,
			ThumbUpload
		},
		data() {
			return {
				title: '',
				product: { id: 0, title: '', content: '', image_feacture: '', status: 1 },
				status: 1,
	    }
		},
		computed:{
			isEdit(){
				return (this.$route.params.id > 0);
			}
		},
		methods: {
			fetch(){
	    	if(this.isEdit){
		    	this.$http.get('products/'+ this.$route.params.id +'/edit').then(res => {
		    		var data = res.data.data
		    		this.product = data
		    		this.status = this.product.status
		    	}) 
	  		}
			},
			submit(){
				if(this.isEdit){
					this.update()
				} else {
					this.save()
				}				
			},
			save(){
				this.$http.post('products', this.product).then(res => {
					var data = res.data.data
					swal(
					  'Sucesso',
					  data.message,
					  'success'
					).then(() => {
						this.$router.push({ name: 'products.index' })
					})
				})
			},
			update(){
				var id = this.product.id;
				
				this.$http.put('products/'+id, this.product).then(res => {
					var data = res.data.data
					swal(
					  'Sucesso',
					  data.message,
					  'success'
					).then(() => {
						this.$router.push({ name: 'products.index' })
					})
				})
			},
			cancel(){
				this.$router.push({ name: 'products.index' })
			}
	  },
	  mounted(){
			this.fetch()
	  },
		created(){
			if(this.isEdit){
				this.title = 'Editar produto'
			} else {
				this.product =  { id: 0, title: '', content: '', image_feacture: '', status: 1 }
				this.title = 'Cadastrar produto'
			}
		},
		watch: {
      $route: 'fetch',
    },
	}
</script>