<template>
	<div>
		<header-title :title="title"></header-title>

		<div class="row">
			<form @submit.prevent="submit" method="POST" class="form" enctype="multipart/form-data">
				<input type="hidden" v-model="collaborator.user_id" />
				<div class="col-sm-12">
					<div class="card">		
						<div class="card-body">
							<div class="row">
								<div class="col-sm-7">
									<div class="row">
										<div class="col-sm-5">
											<div class="form-group floating-label">
					              <thumb-upload title="Alterar Foto" action='api/collaborators/upload' 
					              							v-model="collaborator.photo" 
					              							name='photo'>
				  							</thumb-upload>
					            </div>
				            </div>
				            <div class="col-sm-7">
				            	<div class="form-group floating-label">
					              <input type="text" 
					              			 class="form-control" 
					              			 :class="{ 'dirty': collaborator.code}"
					              			 name="code" 
					              			 v-model="collaborator.code" 
					              			 autocomplete="off" 
					              			 :value="collaborator.code">
					              <label for="code">Matrícula</label>
					              <span class="help-block"></span>
					            </div>
											<div class="form-group floating-label">
					              <input type="text" 
					              			 class="form-control" 
					              			 :class="{ 'dirty': collaborator.name}"
					              			 name="name" 
					              			 v-model="collaborator.name" 
					              			 autocomplete="off" 
					              			 :value="collaborator.name">
					              <label for="name">Nome completo</label>
					              <span class="help-block"></span>
					            </div>
					            <div class="form-group floating-label">
					              <input type="email" 
					              			 class="form-control" 
					              			 :class="{ 'dirty': collaborator.user.email}"
					              			 name="email" 
					              			 v-model="collaborator.user.email" 
					              			 autocomplete="off" 
					              			 :value="collaborator.user.email">
					              <label for="email">E-mail</label>
					              <span class="help-block"></span>
					            </div>
					            <div class="form-group floating-label">
					              <input type="text" 
					              			 class="form-control" 
					              			 :class="{ 'dirty': collaborator.phone}"
					              			 name="phone" 
					              			 v-model="collaborator.phone" 
					              			 autocomplete="off" 
					              			 v-mask="'(##)####-#####'"
					              			 :value="collaborator.phone">
					              <label for="phone">Telefone</label>
					              <span class="help-block"></span>
					            </div>
					            <div class="form-group floating-label">
		              			 <date-picker v-model="collaborator.date_birth" placeholder=""></date-picker>
					              <label for="date_birth">Data de Nascimento</label>
					              <span class="help-block"></span>
					            </div>
				            </div>
			            </div>
								</div>

								<div class="col-sm-5">
			            <div class="form-group floating-label">
			              <input type="password" 
			              			 class="form-control"
			              			 :class="{ 'dirty': collaborator.user.password}"
			              			 name="password" 
			              			 v-model="collaborator.user.password" 
			              			 autocomplete="off">
			              <label for="password">Senha</label>
			              <span class="help-block"></span>
			            </div>
			            <div class="form-group floating-label">
			              <input type="password" 
			              			 class="form-control" 
			              			 :class="{ 'dirty': collaborator.user.password_confirmation}"
			              			 name="password_confirmation" 
			              			 v-model="collaborator.user.password_confirmation" 
			              			 autocomplete="off">
			              <label for="password_confirmation">Confirmar Senha</label>
			              <span class="help-block"></span>
			            </div>
			            <div class="form-group floating-label">
		                <label for="status">Situação</label>
		                <div>
											<label class="radio-inline radio-styled">
												<input type="radio" id="1" value="1" v-model="status" @change="collaborator.status = status" :checked="collaborator.status == 1">
												<span>Ativo</span>
											</label>
											<label class="radio-inline radio-styled">
												<input type="radio" id="0" value="0" v-model="status"  @change="collaborator.status = status" :checked="collaborator.status == 0">
												<span>Inativo</span>
											</label>
										</div>
		              </div>
			            <div class="form-group floating-label">
			              <select name="role_id"
			              				v-model="collaborator.user.role_id" 
			              			  class="form-control dirty">
		              		<option value="">Selecione:</option>
		              		<option v-for="role in roles" 
		              					  :value="role.id">
              					  {{role.display_name}}
          					  </option>

			              </select>
			              <label for="password_confirmation">Função</label>
			              <span class="help-block"></span>
			            </div>
									<div class="form-group  floating-label">
                    <label for="page_id">Departamentos</label>
                    <div>
              			  <departaments v-model="collaborator.departaments"></departaments>

                    </div>
                    <span class="help-block"></span>
                  </div>
	              </div>
							</div>
						</div>
						<div class="card-actionbar style-default-light action-bar">
		          <div class="card-actionbar-row">
		          		<button type="button" @click.prevent="cancel" class="btn btn-default ink-reaction">Cancelar</button>
		              <button type="submit" class="btn btn-primary ink-reaction" v-if="!$route.params.id">Salvar</button>
		              <button type="submit" class="btn btn-primary ink-reaction" v-else>Atualizar</button>
		          </div>
		        </div>
					</div>
				</div>
			</form>
		</div>
	</div>
</template>

<script>
	import Header from '../partials/Header.vue'
	import ThumbUpload from '../components/ThumbUpload.vue'
	import Departaments from '../components/Departaments.vue'
	import Datepicker from '../components/Datepicker.vue'
 
	export default {
		name: 'CcCollaboratorsForm',
		components: {
			'header-title': Header,
			'pagination': require('vue-bootstrap-pagination'),
			'date-picker': Datepicker,
			ThumbUpload, Departaments
		},
		data() {
			return {
				title: '',
				collaborator: { id: 0, code: '', name: '', phone: '', date_birth: '', photo:'', status: 1, user: {password: '', password_confirmation: '', email: '', role_id: ''}, departaments: []},
				status: 1,
				roles: []
	    }
		},
		computed:{
			isEdit(){
				return (this.$route.params.id > 0);
			}
		},
		methods: {
			fetch(){
	    	if(this.isEdit){
		    	this.$http.get('collaborators/'+ this.$route.params.id +'/edit').then(res => {
		    		var data = res.data.data
		    		setTimeout(() => {
							this.collaborator = data
			    		this.status = this.collaborator.status
		    		}, 500)
		    		
		    	}) 
	  		}
			},
			submit(){
				if(this.isEdit){
					this.update()
				} else {
					this.save()
				}				
			},
			save(){
				this.$http.post('collaborators', this.collaborator).then(res => {
					var data = res.data.data
					swal(
					  'Sucesso',
					  data.message,
					  'success'
					).then(() => {
						this.$router.push({ name: 'collaborators.index' })
					})
				})
			},
			update(){
				var id = this.collaborator.id;
				
				this.$http.put('collaborators/'+id, this.collaborator).then(res => {
					var data = res.data.data
					swal(
					  'Sucesso',
					  data.message,
					  'success'
					).then(() => {
						this.$router.push({ name: 'collaborators.index' })
					})
				})
			},
			cancel(){
				this.$router.push({ name: 'collaborators.index' })
			},
			fetchRoles(){
				var vm = this
				this.$http.get('roles/combobox').then(res => {
					var data = res.data.data
					vm.roles = data					
				})
			}
	  },
	  mounted(){
			this.fetch()
			this.fetchRoles()
	  },
		created(){
			if(this.isEdit){
				this.title = 'Editar colaborador'
			} else {
				this.title = 'Cadastrar colaborador'
			}
		},
		watch: {
      $route: 'fetch',
    },
	}
</script>