<template>
	<div>
		<header-title :title="title"></header-title>

		<div class="row">
			<form @submit.prevent="submit" method="POST" class="form" enctype="multipart/form-data">
			<div class="col-sm-6">
				<div class="card">		
					<div class="card-body">
						<div class="row">
							<div class="form-group floating-label">
	              <input type="text" 
	              			 class="form-control dirty" 
	              			 name="name" 
	              			 v-model="user.name" 
	              			 autocomplete="off" 
	              			 :value="user.name">
	              <label for="name">Nome completo</label>
	              <span class="help-block"></span>
	            </div>

	            <div class="form-group floating-label">
	              <input type="email" 
	              			 class="form-control dirty" 
	              			 name="email" 
	              			 v-model="user.email" 
	              			 autocomplete="off" 
	              			 :value="user.email">
	              <label for="email">E-mail</label>
	              <span class="help-block"></span>
	            </div>

	            <div class="form-group floating-label">
	              <input type="password" 
	              			 class="form-control dirty" 
	              			 name="password" 
	              			 v-model="user.password" 
	              			 autocomplete="off">
	              <label for="password">Senha</label>
	              <span class="help-block"></span>
	            </div>
	            <div class="form-group floating-label">
	              <input type="password_confirmation" 
	              			 class="form-control dirty" 
	              			 name="password_confirmation" 
	              			 v-model="user.password_confirmation" 
	              			 autocomplete="off">
	              <label for="password_confirmation">Confirmar Senha</label>
	              <span class="help-block"></span>
	            </div>
	            <div class="form-group floating-label">
                <label for="status">Situação</label>
                <div>
									<label class="radio-inline radio-styled">
										<input type="radio" id="1" value="1" v-model="status" @change="user.status = status" :checked="user.status == 1">
										<span>Ativo</span>
									</label>
									<label class="radio-inline radio-styled">
										<input type="radio" id="0" value="0" v-model="status"  @change="user.status = status" :checked="user.status == 0">
										<span>Inativo</span>
									</label>
								</div>
              </div>
						</div>
					</div>
					<div class="card-actionbar style-default-light action-bar">
	          <div class="card-actionbar-row">
	          		<button type="button" @click.prevent="cancel" class="btn btn-default ink-reaction">Cancelar</button>
	              <button type="submit" class="btn btn-primary ink-reaction" v-if="!$route.params.id">Salvar</button>
	              <button type="submit" class="btn btn-primary ink-reaction" v-else>Atualizar</button>
	          </div>
	        </div>
				</div>
			</div>
			</form>
		</div>
	</div>
</template>

<script>
	import Header from '../partials/Header.vue'
 
	export default {
		name: 'CcUsersForm',
		components: {
			'header-title': Header,
			'pagination': require('vue-bootstrap-pagination') 
		},
		data() {
			return {
				title: '',
				user: { id: 0, name: '', email: '', password: '', password_confirmation: '', status: 0},
				status: 0,
	    }
		},
		computed:{
			isEdit(){
				return (this.$route.params.id > 0);
			}
		},
		methods: {
			fetch(){
	    	if(this.isEdit){
		    	this.$http.get('users/'+ this.$route.params.id +'/edit').then(res => {
		    		var data = res.data.data
		    		this.user = data
		    		this.status = this.user.status
		    	}) 
	  		}
			},
			submit(){
				if(this.isEdit){
					this.update()
				} else {
					this.save()
				}				
			},
			save(){
				this.$http.post('users', this.user).then(res => {
					var data = res.data.data
					swal(
					  'Sucesso',
					  data.message,
					  'success'
					).then(() => {
						this.$router.push({ name: 'users.index' })
					})
				})
			},
			update(){
				var id = this.user.id;
				
				this.$http.put('users/'+id, this.user).then(res => {
					var data = res.data.data
					swal(
					  'Sucesso',
					  data.message,
					  'success'
					).then(() => {
						this.$router.push({ name: 'users.index' })
					})
				})
			},
			cancel(){
				this.$router.push({ name: 'users.index' })
			}
	  },
	  mounted(){
			this.fetch()
	  },
		created(){
			if(this.isEdit){
				this.title = 'Editar usuário'
			} else {
				this.user = { id: 0, name: '', email: '', password: '', password_confirmation: ''}
				this.title = 'Cadastrar usuário'
			}
		},
		watch: {
      $route: 'fetch',
    },
	}
</script>